{% macro round_results(name, results, row) %}
<div>
    <div class="d-inline no-lg">
        <div style="position: relative; display: inline-block; font-weight: bold; height: 15px; width: 45px;">{{name}}
        </div>
        {% for r in results %}
        {% if r %}
        {% if row == 0 %}
        <div style="position: relative; display: inline-block; top: 2px; height: 15px; width: 10px; background-color: #5bbd6c; box-shadow: 1px 1px 4px black;">
            {% else %}
            <div style="position: relative; display: inline-block; top: 2px; height: 15px; width: 10px; background-color: #5bbd6c; box-shadow: 1px 1px 4px black;">
                {% endif %}
                &nbsp;
            </div>
            {% else %}
            {% if row == 0 %}
            <div style="position: relative; display: inline-block; top: 8px; height: 10px; width: 10px; background-color: #ed4642; box-shadow: 1px 1px 4px black;">
                {% else %}
                <div style="position: relative; display: inline-block; top: 2px; height: 10px; width: 10px; background-color: #ed4642; box-shadow: 1px 1px 4px black;">
                    {% endif %}
                    &nbsp;
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
{%- endmacro -%}

<div class="card game-summary result-{{ ['loss', 'win'][game.won] if not game.scrim else 'scrim' }}">

    <div class="map-image no-sm" style="
        background-image: url({{ url_for('static', filename='images/valorant/maps/' + game.map.lower() + '.png') }});
    ">
    </div>
    <div class="row no-gutters game-backdrop">
        <div class="col agent-thumbnail" style="
            background-image: url({{ url_for('static', filename='images/valorant/agent_profiles/' + game.agent.lower() + '.png') }});">
        </div>
        <div class="col-1 p-1" style="min-width: 165px;">
            <h2 class="px-1 mb-1">{{ game.agent | title }}</h2>
            <h5 class="px-3 m-0">on {{ game.map | title }}</h5>
        </div>
        <div class="col-1 rank-indicator-2 no-sm" style="max-width: 2.5%; flex: 0 0 2.5%;">
            {% if game.game_mode == 'competitive' %}
                <img height="80" style="object-fit: contain" src="{{ url_for('static', filename='images/valorant/ranks/valorant.png') }}" />
            {% endif %}
        </div>
        <div class="col-2 p-1 text-center">
            <h6 class="pb-0" style="color: #eaeeb2; ">{{ (game.won | val_result) if not game.scrim else 'SCRIM' }}</h6>
            <h2 class="pt-0">{{ game.score | val_score }}</h2>
        </div>
        <div class="col-2 pt-1 no-xs" style="padding-left: 2.1em !important;">
            {% if game.stats %}
            <h5 class="m-0">K: {{ game.stats.kills }}</h5>
            <h5 class="m-0">D: {{ game.stats.deaths }}</h5>
            <h5 class="m-0">A: {{ game.stats.assists or '-' }}</h5>
            {% endif %}
        </div>
        <div class="col pt-3 no-sm">
            {% if game.rounds and game.rounds.attacking_first %}
            {{ round_results('ATK', game.rounds.round_results[:12], 0) }}
            {{ round_results('DEF', game.rounds.round_results[12:], 1) }}
            {% elif game.rounds %}
            {{ round_results('DEF', game.rounds.round_results[:12], 0) }}
            {{ round_results('ATK', game.rounds.round_results[12:], 1) }}
            {% endif %}
        </div>
        <small class="absolute-bottomright fit-content px-2 epoch-format-time no-sm game-timestamp">
            {{ game.timestamp }}
        </small>
    </div>
    <a href="{{ url_for('valorant.game.game', key=game.key) }}" class="stretched-link"></a>
</div>
