{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="overwatch-game">
    {% include 'overwatch/game/header.html' %}

    <div class="container">
        <div class="row">
            {% if show_stats %}
                <div class="col-12 mb-2" >
                    {% include 'overwatch/game/player_stats/player_stats.html' %}
                </div>
            {% endif %}
            <div class="col-12 mb-2" >
                {% include 'overwatch/game/timeline.html' %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pr-1 mb-2">
                {% include 'overwatch/game/hero_stats.html' %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pl-1 mb-2">
                {% include 'overwatch/game/teams.html' %}
            </div>
        </div>

        {% if user.superuser %}
        {% include 'overwatch/game/dev_info.html' %}
        {% endif %}

    </div>
</div>
<div class="report-footer">
    <a href="#" onclick="report_issue()">Report an issue with this game</a>
</div>
{% endblock %}

{% block scripts %}
<script src="https://browser.sentry-cdn.com/5.0.6/bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
class UserReport extends Error {
  constructor(message) {
    super(message);
    this.name = "{{ game.key }}";
  }
};
function report_issue(){
    Sentry.init({
        dsn: 'https://3ff0ce0da5ef40c19c6ef3a13a39aea5@sentry.io/1434728',
        beforeSend(event, hint) {
            Sentry.showReportDialog({
                eventId: event.event_id,
                labelName: 'Discord Name',
                user: {
                    'name': 'Not Provided',
                    'email': 'none@example.com'
                },

                title: 'Report Tracking Issue',
                subtitle: 'Please also join the Discord to stay in the loop and provide more feedback if necessary. https://discord.gg/JywstAB',
                labelComments: 'What\'s wrong with this game?',
                labelSubmit: 'Submit',
            });
            return event;
        }
    });
    let error = new UserReport('User Reported Issue');
    Sentry.captureException(error, {fingerprint: ["{{ game['key'] }}"]});
}

</script>
{% endblock %}
