{% macro stat_row(stats, field_name, total_time, stat_type='value', precision=1, title=None, hide_second=False) -%}
<tr>
    <th>{{ field_name | replace('_', ' ') | upper }}</th>
    {% if stats[field_name] is not none %}
    <td>
        {% if stat_type == 'duration' %}
        <span class="big">
            {{ stats[field_name] | s2ts }}
        </span>
        {% elif stat_type == 'average' %}
        <span class="big">
            {{ stats[field_name] | round | int }}
        </span>%
        {% else %}
        <span class="big">
            {{ stats[field_name] | format_number(0) }}
        </span>
        {% endif %}
    </td>
    <td>
        {% if not hide_second %}
        {% if stat_type in ['best', 'average'] %}

        {% elif stat_type == 'duration' %}
            <span class="big">
                {{ (stats[field_name] / total_time * 100) | round | int }}
            </span>%
        {% else %}
            <span class="big">
                {{ (stats[field_name] / (total_time / 600)) | format_number(precision) }}
            </span> /10min
        {% endif %}
        {% endif %}
    </td>
    {% else %}
    <td colspan="2"></td>
    {% endif %}
</tr>
{%- endmacro %}


<div class="card hero-stats">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li>
                <b style="padding: 10px 15px; top: 8px; position: relative;">
                    Statistics:
                </b>
            </li>
            {% for stats in sort_stats(game.stats.stats.values()) %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if loop.first else '' }}" data-toggle="tab" href="#stats{{ loop.index0 }}">{{ stats.hero | hero_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="tab-content card-body">
        {% for stats in sort_stats(game.stats.stats.values()) %}
        <div id="stats{{ loop.index0 }}" class="tab-pane {{ 'active' if loop.first else '' }} stats-pane">
            <table class="table table-hover tab-stats-table">
                <tbody>
                    {{ stat_row(stats, 'time_played', game.stats.time_played, 'duration', hide_second=stats.is_all_heroes) }}
                    <tr class="nohover">
                        <td colspan="3" style="padding: 0px;">
                            <div class="dashed-line"></div>
                        </td>
                    </tr>
                    {{ stat_row(stats, 'eliminations', stats.time_played) }}
                    {{ stat_row(stats, 'deaths', stats.time_played) }}
                    {{ stat_row(stats, 'objective_kills', stats.time_played) }}
                    {{ stat_row(stats, 'objective_time', stats.time_played, stat_type='duration') }}
                    {{ stat_row(stats, 'hero_damage_done', stats.time_played, precision=0) }}
                    {{ stat_row(stats, 'healing_done', stats.time_played, precision=0) }}

                    {% if not stats.is_all_heroes %}
                    <tr class="nohover">
                        <td colspan="3" style="padding: 4px;">
                            <div class="dashed-line"><span class="hero-spec-stats-text">Hero Specific Stats</span></div>
                        </td>
                    </tr>
                    {% for stat_name in stats.hero_specific_stats %}
                    {{
                    stat_row(
                        stats.hero_specific_stats,
                        stat_name,
                        stats.time_played,
                        stat_type=get_stat_type(stats.hero, stat_name),
                        precision=None
                    )
                    }}
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
