{%- macro timeline_event(event, stage, class, image=None, text="●", y=20, height='100%') -%}
{% if stage.start <= event.timestamp <= stage.end %}
{%
with xmlargs = {
    'class': 'timeline-event ' + class,
    'x': '%f%%' % ((event.timestamp - stage.start)  / stage.duration * 100 ),
    'y': y,
    'data-source': event,
    'data-timestamp': '%f' % event.timestamp,
}
%}
{% if image %}
<image href="{{ image }}" {{ xmlargs | xmlattr }} {{ kwargs | xmlattr }} height="{{ height }}">
</image>
{% else %}
<text{{ xmlargs | xmlattr }} {{ kwargs | xmlattr }} y="20">
{{ text }}
</text>
{% endif %}
{% endwith %}
{% endif %}
{%- endmacro %}

<svg height="0" width="0">
    <defs>
        <filter id="invertColour">
            <feColorMatrix in="SourceGraphic"
                           type="matrix"
                           values="-1  0  0  0  1
                                    0 -1  0  0  1
                                    0  0 -1  0  1
                                    0  0  0  1  0"/>
        </filter>
    </defs>
</svg>

<div class="card text-center col-md-12">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li>
                <b style="padding: 10px 15px;">Stages:</b>
            </li>
            {% for stage in game.stages.stages %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if stage.index == 0 else '' }}" data-toggle="tab" href="#stage{{ stage.index }}">{{ stage.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="tab-content card-body">
        {% for stage in game.stages.stages %}
        <div id="stage{{ stage.index }}" class="tab-pane {{ 'active' if stage.index == 0 else '' }}">
            <div class="row">
            <div class="col-12">
                <div class="row ticker">
                    <div class="col-2"></div>
                    <svg class="col-9" height="20px" style="padding: 0px; ">
                        <g transform="translate(0,19)" fill="none" font-size="10" font-family="sans-serif" text-anchor="middle">
                            {% for t in ticks(0, stage.duration, nbins=10) %}
                            <line stroke="white" x1="{{ (t / stage.duration) * 100 }}%" x2="{{ (t / stage.duration) * 100 }}%" y2="-6"></line>
                            <text fill="white" x="{{ (t / stage.duration) * 100 }}%" y="-9" dy="0em">{{ s2ts(t) }}</text>
                            {% endfor %}
                        </g>
                    </svg>
                    <div class="col-1"></div>
                </div>
                {% for player in game.teams.all_players %}
                <div class="row player">
                    <b class="col-2 text-right text-{{ 'blue' if player.blue_team else 'red' }}" style="padding-left: 0px; padding-right: 10px; line-height: 40px;">{{ player.name }}</b>
                    <svg class="timeline col-9" height="{{ 45 if player == game.teams.owner else 40 }}px" style="padding: 0px;">
                        {% if player == game.teams.owner %}
                        <rect width="100%" height="100%" fill="#4F7C8E" stroke="white"></rect>
                        {% else %}
                        <rect width="100%" height="100%" fill="#4a5561" stroke="white"></rect>
                        {% endif %}

                        {% for hero_played_segment in player.hero_played_segments %}
                        {{
                            timeline_event(
                                hero_played_segment,
                                stage,
                                'hero-selected',
                                image=url_for('static', filename='images/overwatch/hero_icons/' + hero_played_segment.hero + '.png'),
                                y=0,
                            )
                        }}
                        {% endfor %}

                        {% for ult in player.ults %}
                        {% if ult.stage == stage.index %}
                        <rect class="timeline-event ult-period"
                              x="{{ (ult.gained - stage.start) / stage.duration * 100 }}%"
                              width="{{ ult.held / stage.duration * 100 }}%"
                              y="35"
                              height="10px"
                              fill="#9FECFC"
                              data-source="{{ ult_period }}"
                              data-timestamp=""
                              data-duration=""
                        ></rect>
                        <image class="timeline-event ult-use-image"
                               href="{{ url_for('static', filename='images/overwatch/timeline_icons/ult_background.png') }}"
                               x="{{ (ult.lost - stage.start) / stage.duration * 100 }}%"
                               y="10"
                               width="40"
                               transform="translate(-20)"
                        >
                        </image>
                        <image class="timeline-event ult-use-image"
                               href="{{ url_for('static', filename='images/overwatch/ult_icons/' + ult.hero + '.png') }}"
                               x="{{ (ult.lost - stage.start) / stage.duration * 100 }}%"
                               y="15"
                               width="30"
                               transform="translate(-15)"
                               filter="url(#invertColour)"
                        >
                        </image>
                        {% endif %}
                        {% endfor %}

                        {% for assist in player.killfeed_assists %}
                        {{
                        timeline_event(
                            assist,
                            stage,
                            'killfeed-assist',
                        )
                        }}
                        {% endfor %}

                        {% for assist in player.elimination_assists %}
                        {{
                        timeline_event(
                            assist,
                            stage,
                            'elimination-assist',
                        )
                        }}
                        {% endfor %}

                        {% for kill in player.kills %}
                        {% if ability_is_ult(kill.ability) %}
                        {{
                        timeline_event(
                            kill,
                            stage,
                            'kill',
                            image=url_for('static', filename='images/overwatch/ult_icons/' + kill.left_hero + '.png'),
                            height="30",
                            width="30",
                            transform="translate(-15)",
                            y="4"
                        )
                        }}
                        {% else %}
                        timeline_event(
                            kill,
                            stage,
                            'kill',
                        )
                        {% endif %}
                        {% endfor %}

                        {% for death in player.deaths %}
                        {{
                            timeline_event(
                                death,
                                stage,
                                'death',
                                image=url_for('static', filename='images/overwatch/timeline_icons/skull.png'),

                                y=12,
                                width=15,
                                height=15,
                                transform='translate(-6)',
                            )
                        }}
                        {% endfor %}

                        {% for resurrect in player.resurrected %}
                        {{
                            timeline_event(
                                resurrect,
                                stage,
                                'resurrect',
                                image=url_for('static', filename='images/overwatch/timeline_icons/res.png'),

                                y=9,
                                width=20,
                                height=20,
                                transform='translate(-6)',
                            )
                        }}
                        {% endfor %}

                    </svg>
                    <b class="col-1 text-left num" style="padding-left: 10px; padding-right: 0px;">
                        <span class="kill">{{ player.kills | length }}</span>
                        <span> / </span>
                        <span class="death">{{ player.deaths | length }}</span>
                    </b>
                </div>
                {% if player.index == 5 %}
                <div class="row" style="height: 8px;">

                </div>
                {% endif %}
                {% endfor %}
            </div>
            </div>
            <div class="col-3">

            </div>
        </div>
        {% endfor %}
    </div>
</div>
