<svg style="display: block;" height="0" width="0">
    <defs>
        <filter id="invertColour">
            <feColorMatrix in="SourceGraphic"
                           type="matrix"
                           values="-1  0  0  0  1
                                    0 -1  0  0  1
                                    0  0 -1  0  1
                                    0  0  0  1  0"/>
        </filter>
    </defs>
</svg>

<div class="card text-center timeline">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li>
                <b style="padding: 10px 15px; top: 8px; position: relative;">Stages:</b>
            </li>
            {% for stage in game.stages.stages %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if loop.first else '' }}" data-toggle="tab" href="#stage{{ stage.index }}">{{ stage.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="tab-content card-body">
        {% for stage in game.stages.stages %}
        <div id="stage{{ stage.index }}" class="tab-pane {{ 'active' if loop.first else '' }}">
            <div class="row">
                <div class="player-names col-auto">
                    <div class="row" style="height: 20px;"></div>
                    {% for player in game.teams.all_players %}
                    <b class="row text-right text-{{ 'blue' if player.blue_team else 'red' }} player-name {{ 'player-name-long' if player.name | length > 16 else '' }}"
                       style="line-height: {{ 45 if player == game.teams.owner else 40 }}px;">
                        {{ player.name }}
                    </b>
                    {% if loop.index0 == 5 %}
                    <div class="row" style="height: 8px;">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="player-timelines col">
                    <div class="row">
                        <svg class="col-12 ticker" height="20px" style="padding: 0px; ">
                            <g transform="translate(0,19)" fill="none" font-size="10" font-family="sans-serif" text-anchor="middle">
                                {% for t in ticks(0, stage.duration, nbins=10) %}
                                <line stroke="white" x1="{{ (t / stage.duration) * 100 }}%" x2="{{ (t / stage.duration) * 100 }}%" y2="-6"></line>
                                <text fill="white" x="{{ (t / stage.duration) * 100 }}%" y="-9" dy="0em">{{ s2ts(t) }}</text>
                                {% endfor %}
                            </g>
                        </svg>
                    </div>
                    {% for player in game.teams.all_players %}
                    <div class="row">
                        <svg class="col-12" height="{{ 45 if player == game.teams.owner else 40 }}px" style="padding: 0px;">
                            {% if player == game.teams.owner %}
                            <rect width="100%" height="100%" fill="#4F7C8E" stroke="white"></rect>
                            {% else %}
                            <rect width="100%" height="100%" fill="#4a5561" stroke="white"></rect>
                            {% endif %}

                            {% for hero_played in player.hero_played_segments if hero_played.stage == stage.index %}
                            <image class="timeline-event hero-selected"
                                   href="{{ url_for('static', filename='images/overwatch/hero_icons/' + hero_played.hero + '.png') }}"
                                   x="{{ (hero_played.start - stage.start) / stage.duration * 100 }}%"
                                   y="0"
                                   height="100%">
                            </image>
                            {% endfor %}

                            {% for ult in player.ults %}
                            {% if ult.stage == stage.index %}
                            <rect class="timeline-event ult-period"
                                  x="{{ (ult.gained - stage.start) / stage.duration * 100 }}%"
                                  width="{{ ult.held / stage.duration * 100 }}%"
                                  y="35"
                                  height="10px"
                                  fill="#9FECFC"
                                  data-source="{{ ult_period }}"
                                  data-timestamp=""
                                  data-duration=""
                            ></rect>
                            <image class="timeline-event ult-use-background"
                                   href="{{ url_for('static', filename='images/overwatch/timeline_icons/ult_background.png') }}"
                                   x="{{ (ult.lost - stage.start) / stage.duration * 100 }}%"
                                   y="10"
                                   width="40"
                                   transform="translate(-20)"
                            >
                            </image>
                            <image class="timeline-event ult-use"
                                   href="{{ url_for('static', filename='images/overwatch/ult_icons/' + ult.hero + '.png') }}"
                                   x="{{ (ult.lost - stage.start) / stage.duration * 100 }}%"
                                   y="15"
                                   width="30"
                                   transform="translate(-15)"
                                   filter="url(#invertColour)"
                            >
                            </image>
                            {% endif %}
                            {% endfor %}

                            {% for assist in player.killfeed_assists if stage.start <= assist.timestamp <= stage.end %}
                            <text class="timeline-event timeline-event-{{ assist.kill.index }} killfeed-assist"
                                  x="{{ (assist.timestamp - stage.start)  / stage.duration * 100 }}%"
                                  y="20"
                                  data-source="{{ assist }}"
                                  data-timestamp="{{ assist.timestamp }}">
                                ●
                            </text>
                            {% endfor %}

                            {% for assist in player.elimination_assists if stage.start <= assist.timestamp <= stage.end %}
                            <text class="timeline-event timeline-event-{{ assist.kill.index }} elimination-assist"
                                  x="{{ (assist.timestamp - stage.start)  / stage.duration * 100 }}%"
                                  y="20"
                                  data-source="{{ assist }}"
                                  data-timestamp="{{ assist.timestamp }}">
                                ●
                            </text>
                            {% endfor %}

                            {% for kill in player.kills if stage.start <= kill.timestamp <= stage.end %}
                            {% if ability_is_ult(kill.ability) %}
                            <image class="timeline-event timeline-event-{{ kill.index }} ult-kill"
                                   href="{{ url_for('static', filename='images/overwatch/ult_icons/' + kill.left_hero + '.png') }}"
                                   x="{{ (kill.timestamp - stage.start)  / stage.duration * 100 }}%"
                                   y="4"
                                   width="30"
                                   height="30"
                                   transform="translate(-15)"
                                   y="4"
                                   data-source="{{ kill }}"
                                   data-timestamp="{{ kill.timestamp }}">
                            </image>
                            {% else %}
                            <text class="timeline-event timeline-event-{{ kill.index }} kill"
                                  x="{{ (kill.timestamp - stage.start)  / stage.duration * 100 }}%"
                                  y="20"
                                  data-source="{{ kill }}"
                                  data-timestamp="{{ kill.timestamp }}">
                                ●
                            </text>
                            {% endif %}
                            {% endfor %}

                            {% for death in player.deaths if stage.start <= death.timestamp <= stage.end %}
                            <image class="timeline-event timeline-event-{{ death.index }} death"
                                   href="{{ url_for('static', filename='images/overwatch/timeline_icons/skull.png') }}"
                                   x="{{ (death.timestamp - stage.start)  / stage.duration * 100 }}%"
                                   y="12"
                                   width="16"
                                   height="16"
                                   transform="translate(-8)"
                                   data-source="{{ death }}"
                                   data-timestamp="{{ death.timestamp }}">
                            </image>
                            {% endfor %}

                            {% for resurrect in player.resurrected if stage.start <= resurrect.timestamp <= stage.end %}
                            <image class="timeline-event timeline-event-{{ resurrect.index }} resurrect"
                                   href="{{ url_for('static', filename='images/overwatch/timeline_icons/res.png') }}"
                                   x="{{ (resurrect.timestamp - stage.start)  / stage.duration * 100 }}%"
                                   y="9"
                                   width="20"
                                   height="20"
                                   transform="translate(-10)"
                                   data-source="{{ resurrect }}"
                                   data-timestamp="{{ resurrect.timestamp }}">
                            </image>
                            {% endfor %}
                    </svg>
                    </div>
                    {% if loop.index0 == 5 %}
                    <div class="row" style="height: 8px;">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="player-kill-deaths col-auto">
                    <div class="row" style="height: 20px;"></div>
                    {% for player in game.teams.all_players %}
                    <div class="row kill-death">
                        <b class="col text-left num"
                           style="line-height: {{ 45 if player == game.teams.owner else 40 }}px;">
                            <span class="kill">
                                {{ player.kills | selectattr('timestamp', 'ge', stage.start) | selectattr('timestamp', 'le', stage.end) | list | length }}
                            </span>
                            <span> / </span>
                            <span class="death">
                                {{ player.deaths | selectattr('timestamp', 'ge', stage.start) | selectattr('timestamp', 'le', stage.end) | list | length }}
                            </span>
                        </b>
                    </div>
                    {% if loop.index == 5 %}
                    <div class="row" style="height: 8px;">
                    </div>
                    {% endif %}
                   {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
    let timelineEvents = document.getElementsByClassName('timeline-event');
    for (const timelineEvent of timelineEvents){
        let grandparent = timelineEvent.parentElement.parentElement.parentElement;  // the container for all timeline rows
        let eventIDClass = [... timelineEvent.classList].filter(c => c.indexOf('timeline-event-') != -1);
        if (eventIDClass.length == 1){
            let matchingEvents = document.getElementsByClassName(eventIDClass[0]);
            timelineEvent.onmouseenter = e => {
                for (const highlightEvent of matchingEvents){
                    highlightEvent.classList.add('highlight');
                }
                grandparent.classList.add('dim');
            }
            timelineEvent.onmouseleave = e => {
                grandparent.classList.remove('dim');
                for (const highlightEvent of matchingEvents){
                    highlightEvent.classList.remove('highlight');
                }
            }
        }
    }
});
</script>
