.weapons-list td.knockdowns {
  text-align: right;
  padding-right: 25px !important;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
}
.combat-stats td.value {
  text-align: right;
  padding-right: 20px !important;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
}
.weapons-col {
  padding-right: 0.25rem;
}
.map-col {
  padding-left: 0.25rem;
}
.player-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -76px left 0px;
  background-clip: content-box;
  z-index: 0;
}
.player-card::before {
  opacity: 0.75;
  background-color: #000;
  border-radius: .25rem;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.player-card * {
  z-index: 2;
}
.player-stats td.value {
  font-weight: bold;
}
.admin-data table td, .admin-data table th {
    padding-top: 0;
    padding-bottom: 0;
}
pre {
    color: white;
}
.report-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 34px;
  width: 260px;
  background-color: #ff000060;
  padding-left: 15px;
  padding-top: 5px;
  border-top-left-radius: 5px;
}
.report-footer a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.other-players-col .other-players-list th, .other-players-col .other-players-list td {
    padding-top: 8px !important;
    padding-bottom: 0px !important;
}
.other-players-col .other-players-list td.squad {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.other-players-list .games-group-divider {
    height: 12px;
}
