image: python:3.6

before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir ~/.ssh
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  - pip install --upgrade pip
  - pip install poetry

stages:
  - deploy

deploy:
  stage: deploy
  script:
    - python -m venv venv
    - source venv/bin/activate
    - poetry install --no-dev

    # optional dependency for metrics
    - git clone git@gitlab.com:OverTrack/overtrack_2_api.git
    - mv -t . ./overtrack_2_api/api

    # - zappa update test || { sleep 30; zappa tail test --since 1min --disable-keep-open; false; }

    - pushd overtrack_web

    - zappa update main

    # install with dev deps this time
    - poetry install
    - boussole compile

    - pip install awscli
    - aws s3 sync ./static/ s3://overtrack-web-2-assets/static --delete --acl public-read --cache-control max-age=86400
    - aws configure set preview.cloudfront true
    - aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --paths "/static/*"

  only:
    - "overwatch-merge"
