{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="valorant-game">
    <div class="container">
        <div class="row">
            <div class="col-6 mb-2" >
                {% include 'valorant/game/player_summary.html' %}
            </div>

            <div class="col-6 mb-2" >
                {% include 'valorant/game/player_weapon_stats.html' %}
            </div>

            <div class="col-12 mb-2" >
                {% include 'valorant/game/rounds.html' %}
            </div>

            <div class="col-12 mb-2" >
                {% include 'valorant/game/player_stats.html' %}
            </div>
        </div>

        {% if user.superuser %}
        {% include 'valorant/game/dev_info.html' %}
        {% endif %}
        {% endblock %}
    </div>
</div>

{% block scripts %}
{% endblock %}
