<div class="card player-summary result-{{ ['loss', 'win'][game.won] }} p-0 m-0">
    <div class="row no-gutters">
        <h1 class="col text-center">
            <div class="team-score-0">
                {% if game.rounds.final_score is not none %}
                    {{ game.rounds.final_score[0] }}
                {% else %}
                    ?
                {% endif %}
            </div>
            {{ game.won | val_result }}
            <div class="team-score-1">
                {% if game.rounds.final_score is not none %}
                    {{ game.rounds.final_score[1] }}
                {% else %}
                    ?
                {% endif %}
            </div>
        </h1>
    </div>
    <div class="row no-gutters align-items-center justify-content-between">
        <div class="col-4">
            {% if game.teams.firstperson %}
            <img class="agent-thumbnail m-0 p-0" src="{{ url_for('static', filename='images/valorant/agent_profiles/' + game.teams.firstperson.agent.lower() + '.png') }}" />
            {% endif %}
        </div>
        <div class="col-4">
            <h1 class="row">
                {{ game.teams.firstperson.agent }}
            </h1>
            <h2 class="row" style="color: #eaeeb2;">
                {{ game.map }}
            </h2>
            <h4 class="row" style="color: #959da7">
                {{ game.game_mode | title }}
            </h4>
        </div>
        <div class="col-2 rank-indicator rank-valorant">
            {% if game.rank %}
            <img width="70" style="margin-left: -20px;" src="{{ url_for('static', filename='images/valorant/ranks/' + game.rank + '.png') }}" />
            {% endif %}
        </div>
        <div class="col-2">
            {% if game.teams.firstperson %}
            <h4 class="row">K: {{ game.teams.firstperson.kills | length }}</h4>
            <h4 class="row">D: {{ game.teams.firstperson.deaths | length }}</h4>
            <h4 class="row">A: {% if game.teams.firstperson.stats is not none %}{{game.teams.firstperson.stats.assists or '-'}}{% else %}-{% endif %}</h4>
            {% endif %}
        </div>
    </div>
    <div class="card-footer" style="background-color: #202934">
        <div class="row no-gutters align-items-center justify-content-between">
            <div class="col epoch-format-datetime">{{ game.timestamp }}</div>
            <div class="col text-right">Duration {{ game.duration | s2ts }}</div>
        </div>
    </div>
</div>
