$body-color: #f8f9fa !default;
$body-bg: #343a40 !default;

$card-bg: #282C2F !default;

$table-dark-color: #f8f9fa !default;
$table-dark-bg: #212529 !default;

$navbar-color: #222870 !default;

@import "lib/bootstrap/bootstrap";

@import "lib/featherlight";
.featherlight .featherlight-content {
    background: $body-bg;
}

.epoch-format-time, .epoch-format-date, .epoch-format-datetime {
    display: none !important;
}

a.make-clickable-target {
    text-decoration: none;
}
a.nostyle {
  color: inherit;
  text-decoration: inherit;
}
a.nostyle:link {
  color: inherit;
  text-decoration: inherit;
}
a.nostyle:hover {
  color: inherit;
  text-decoration: inherit;
}

/* Main */
body {
    min-height: 100vh;
    min-width: 340px;
}
.card {
    border: 1px solid rgba(255,255,255,.125);
}
@media (min-width: 576px) and (max-width: 992px){
    .container-sm, .container {
        max-width: 100vw;
    }
}

/* Navbar */
.navbar {
    background-color: $navbar-color;
    padding-top: 0;
    padding-bottom: 0;

    .navbar-brand img{
        width: 30px;
        height: 30px;
    }

    .divider-vertical {
        height: 7px;
        margin: 0 9px;
    }

    .dropdown-toggle {
        color: white !important;  
    }
    .dropdown-toggle:hover {
        background-color: lighten($navbar-color, 10%);
        height: 100%;
    }
    .game-selector .dropdown-menu{
        padding: 0;
        margin-top: -2px;
        border-radius: 0;
    }
    a.dropdown-item img, a.nav-link img{
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }
}


/* Report an error */
.sentry-error-embed .form-content .form-field:nth-child(2) {
    display: none !important;
}
.sentry-error-embed #id_comments::placeholder {
    color: transparent;
}
.sentry-error-embed header p span {
    display: none;
}

/* Login */
.btn-twitch {
    background-image: linear-gradient(#6441A5, #6441A5, 60%, #392E5C);
    border-color: #392E5C;
    background-color: #392E5C;
}
.btn-bnet {
    background-image: linear-gradient(#004d80, #004d80, 60%, #002650);
    border-color: #002650;
    background-color: #002650;
}

.discord-notifications {
    li {
        height: 65px;
    }
    span {
        font-size: 20pt;
    }
    .channel {
        color: gray;
        padding-left: 20pt;
        font-weight: bold;
    }
    .channel-hash::before {
         content: "#";
         font-size: 25pt;
         color: gray;
         position: absolute;
         font-weight: bold;
         margin-left: 3pt;
    }
    a {
        margin-top: -10px;
        height: 30px;
        padding-top: 0;
    }
    .list-group-item {
        background-color: $body-bg;
        max-width: 500px;
    }
}

.report-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 34px;
  width: 260px;
  background-color: $navbar-color;
  padding-left: 15px;
  padding-top: 5px;
  border-top-left-radius: 5px;
}
.report-footer a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

/* Client */

.client-tips li {
    padding-bottom: 10px;
}
