$body-color: #f8f9fa !default;
$body-bg: #343a40 !default;

$card-bg: #282C2F !default;

$table-dark-color: #f8f9fa !default;
$table-dark-bg: #212529 !default;

$navbar-color: #222870 !default;

@import "bootstrap/bootstrap-reboot";
@import "bootstrap/utilities/flex";
@import "bootstrap/utilities/display";
@import "bootstrap/vendor/rfs";
@import "bootstrap/grid";
@import "bootstrap/navbar";
@import "bootstrap/nav";
@import "bootstrap/card";
@import "bootstrap/buttons";
@import "bootstrap/dropdown";
@import "bootstrap/tables";
@import "bootstrap/type";
@import "bootstrap/spinners";

.epoch-format-time, .epoch-format-date, epoch-format-datetime {
    display: none;
}

/* Main */
body {
  min-height: 100vh;
}
.card {
  border: 1px solid rgba(255,255,255,.125);
}

/* Navbar */
.navbar {
    background-color: $navbar-color;
}
.navbar .divider-vertical {
    height: 7px;
    margin: 0 9px;
}

/* Report an error */
.sentry-error-embed .form-content .form-field:nth-child(2) {
    display: none !important;
}
.sentry-error-embed #id_comments::placeholder {
    color: transparent;
}
.sentry-error-embed header p span {
    display: none;
}

/* Login */
.btn-twitch {
    background-image: linear-gradient(#6441A5, #6441A5, 60%, #392E5C);
    border-color: #392E5C;
    background-color: #392E5C;
}
.btn-bnet {
    background-image: linear-gradient(#004d80, #004d80, 60%, #002650);
    border-color: #002650;
    background-color: #002650;
}

.discord-notifications li {
  height: 65px;
}
.discord-notifications span {
  font-size: 20pt;
}
.discord-notifications .channel {
   color: gray;
   padding-left: 20pt;
   font-weight: bold;
}
.discord-notifications .channel-hash::before {
     content: "#";
     font-size: 25pt;
     color: gray;
     top: 9px;
     position: absolute;
     font-weight: bold;
     margin-left: 3pt;
}
