@import "bootswatch/superhero/variables";

$body-color: #ebebeb;
$body-bg: #222854;

$card-bg: #0d1235;
$card-cap-bg: rgba(0, 0, 0, 0.25);

$navbar-color: $card-bg;
$navbar-dark-color: #7e5abf;
$navbar-dark-hover-color: #9093A9;
$navbar-dark-active-color: white;

$primary: #a991d4;

$dropdown-bg: $body-color;
$dropdown-link-color: black;
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-link-hover-bg: $primary;

$table-dark-color: #f8f9fa;
$table-dark-bg: #212529;
$table-accent-bg: #2f214a;
$table-hover-bg: #604499;

@import "base";

body {
    font-family: 'Roboto', sans-serif;
}

.card-header {
    padding-bottom: 0;
    min-height: 55px;

    li > b {
        padding: 10px 15px;
        top: 8px;
        position: relative;
    }

    h4 {
        font-size: 16px;
        font-weight: 700;
        padding-top: 8px;
    }
}

.card {
    border: unset;
}

.game-result-win > .colour-by-result {
    color: #90ff90;
}
.game-result-loss > .colour-by-result {
    color: #ff6e6e;
}
.game-result-draw > .colour-by-result {
    color: #f0ad4e;
}
.game-result-unknown > .colour-by-result {
    color: #e305f8;
}

.custom-switch-lg {
    padding-left: 2.25rem;
    padding-bottom: 1rem;

    .custom-control-label {
        padding-top: 0.5rem;
        padding-left: 2rem;
        padding-bottom: 0.1rem;
        user-select: none;
    }
    .custom-control-label::before {
        left: -2.25rem;
        height: 2rem;
        width: 3.5rem;    // it was 1.75rem before. Sliding way is longer than before.
        pointer-events: all;
        border-radius: 1rem;
    }
    .custom-control-label::after {
        top: calc(0.25rem + 2px);
        left: calc(-2.25rem + 2px);
        width: calc(2rem - 4px);
        height: calc(2rem - 4px);
        background-color: #adb5bd;
        border-radius: 2rem;
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
        transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    }
    .custom-control-input:checked ~ .custom-control-label::after {
        background-color: #fff;
        -webkit-transform: translateX(1.5rem);
        transform: translateX(1.5rem)
    }
}

@import "overwatch/games_list";
@import "overwatch/game";
