.agent-thumbnail {
    height: 50px;
}

.progress {
    height: 25px;
    font-size: 18px;
}

.progress-average {
    margin-top: 1px;
}

.stats-cell {
    min-width: 200px;
}

.if-show-average {
}

.if-show-detailed {
    display: none;
}