{% extends "base.html" %}
{% block title %}Select Channel{% endblock %}
{% block meta %}
{% endblock %}
{% block content %}
<style>
.custom-control-lg .custom-control-label::before,
.custom-control-lg .custom-control-label::after {
    top: 0 !important;
    left: 0 !important;
    width: 2rem !important;
    height: 2rem !important;
}

.custom-control-lg .custom-control-label {
    margin-left: 1rem !important;
    font-size: 1.25rem !important;
}
</style>
<div class="container">
    <h1 class="my-lg-5">Add bot to <img style="height:50px;width:auto;top:-10px" src="{{ server_icon }}"/> {{ server_name }}</h1>
    <form action="{{ url_for('discord_bot.add_to_channel') }}" class="shadow p-3 rounded">
        <div class="row">
            <div class="col mx-lg-3 p-3">
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input" style="transform: scale(2, 2)" type="checkbox" name="only_top_3" id="top_3_check">
                    <label class="custom-control-label" for="top_3_check">
                        Only post top 3 finishes
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mx-3 p-3">
                <h2 class="mb-lg-3">Add to existing channel</h2>
                <div class="form-group">
                    <select name="payload_existing" class="custom-select custom-select-lg text-white">
                        <option selected disabled>Choose a channel</option>
                        {% for channel in channels %}
                        <option value="{{ channel['payload'] }}">{{ channel['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" name="channel_type" value="existing">Add to channel</button>
            </div>
            <div class="col mx-3 p-3">
                <h2 class="mb-lg-3">Create new channel</h2>
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="channel_name" name="channel_name" placeholder="Enter channel name">
                </div>
                <input type="hidden" name="payload_new" value="{{ create_channel_payload }}">
                {% if allow_create_channel %}
                <button type="submit" class="btn btn-primary" name="channel_type" value="new">Create new channel</button>
                {% else %}
                <button type="submit" class="btn btn-primary" disabled>Create new channel</button>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
