{% extends "base.html" %}
{% block title %}Add Discord Bot{% endblock %}
{% block meta %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card card-main col-md-12">
            <div class="card-body">
                <h2 class="card-title">Discord Bot</h2>

                {% if notifications %}
                    <form action="{{ delete_integration }}" method="post" class="shadow p-3 rounded">
                        <h5 class="card-subtitle mb-2 text-muted">Enabled Channels</h5>
                        <ul class="list-group discord-notifications">
                            {% for notification in notifications %}
                            <li class="list-group-item">
                                <span class="guild">{{ notification['guild_name'] }}</span>
                                <span class="channel-hash"></span>
                                <span class="channel">{{ notification['channel_name'] }}</span>
                                <button type="submit" class="btn btn-danger float-right" name="args" value="{{ notification['args'] }}">x</button>
                            </li>
                            {% endfor %}
                        </ul>
                    </form>
                {% else %}
                    <p class="card-text">
                        OverTrack can post your games to a discord channel.<br/>
                    </p>
                {% endif %}

                <br/>
                <div class="row">
                    <div class="col-md-6" style="padding-right:20px; border-right: 1px solid gray;">
                        <h5>
                            Add the OverTrack Bot to a server I manage
                        </h5>
                        <a href="{{ authorize_bot }}" class="btn btn-lg btn-success btn-block" style="margin-top: 20px;">
                            Add New Bot
                        </a>
                        <p>
                            OverTrack requires the "Send Messages" permission to function.
                        </p>
                        <p>
                            If you would like to manually control posting permissions, then you may uncheck "Manage Roles" and "Manage Channels".
                            Leaving these enabled will allow OverTrack to post to a channel that may have restricted posting permissions,
                            and will allow it to create new channels that only it may post to (through a prompt).
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h5>
                            Connect my account to an existing OverTrack Bot
                        </h5>
                        <a href="{{ authorize_list_servers }}" class="btn btn-lg btn-success btn-block" style="margin-top: 20px;">
                            Connect to Existing Bot
                        </a>
                        <p>
                            You must have permissions to send messages in the channel the bot is posting to.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
