.overwatch-game {
    .map-banner {
        background-size: cover;
        background-position: 0 0,center;
        border-radius: 0;
        padding-bottom: 5px;
        padding-top: 15px;
        margin-bottom: 10px;

        h1 {
            color: orange;
            /*text-shadow: 1px 1px 2px #000;*/
        }
        h1 small {
            font-size: 18px;
            color: #bdbdbd;
        }
        .header-row span {
            margin-bottom: 15px;
            font-size: 23px;
            font-weight: 200;
            text-shadow: 1px 1px 2px #000;
        }

        .mapname > small {
            padding-left: 20px;
        }
        .maptype {
            -webkit-filter: invert(100%);
            filter: invert(100%);
            height: 18px;
            margin-bottom: 5px;
        }
    }

    .card-body {
        padding: 10px;
    }

    .text-unknown {
        color: #e305f8;
    }
    .text-blue {
        color: #5bc0de;
    }
    .text-red {
        color: #ff7874;
    }

    svg {
        overflow: visible!important;
    }

    .compositions, .player-stats {
        .player-name {
            font-size: 14px;
        }

        .player-name-long {
            font-size: 12px;
        }

        .tab-stats-table th {
            font-size: 14px;
        }

        .tab-stats-table .big {
            font-size: 16px;
            font-weight: 600;
        }

        .tab-stats-table span.stat-green-highs{
            &.stat-very-high {
                color: #38f689;
            }
            &.stat-high {
                color: #38af58;
            }
            &.stat-median {
                color: #b8860b;
            }
            &.stat-low {
                color: #d35400;
            }
            &.stat-very-low {
                color: #d91e18;
            }
        }
        .tab-stats-table span.stat-red-highs{
            &.stat-very-high {
                color: #d91e18;
            }
            &.stat-high {
                color: #d35400;
            }
            &.stat-median {
                color: #b8860b;
            }
            &.stat-low {
                color: #38af58;
            }
            &.stat-very-low {
                color: #38f689;
            }
        }
        .tab-stats-table span.stat-below-threshold {
            color: #c8c8c8;
        }
        .tab-stats-table span.stat-zero {
            color: #717171;
        }
        .composition-below-threshold {
            color: #717171;
        }

        .tab-stats-table tr th, .tab-stats-table tr td {
            color: #C8C8C8;
            font-weight: 300;
            line-height: 1.5;
            padding: 5px;
        }
        .tab-stats-table th {
            padding-left: 0 !important;
            padding-right: 3px !important;
        }


        .dashed-line {
            padding: 0;
            margin: 10px 0 -2px;
            position: relative;
            border-top: 1px dashed;
        }

        .vert-sep {
            border-right: 1px dashed #c8c8c877;
        }

        .nohover:hover {
            background-color: unset !important;
        }

        /*tbody > td, thead > th {*/
            /*width: 3em;*/
        /*}*/

        /*tbody > th {*/
            /*width: 16em;*/
        /*}*/

        table {
            table-layout: fixed;
        }

        .collapse-button {
            cursor: pointer;
        }

        .collapsing {
            -webkit-transition: none;
            transition: none;
            display: none;
        }

        .player-row :not(.show) + .hero-row .show {
            display: none;
        }

        .team-row {
            background-color: rgb(10, 13, 38);
        }
        .player-row.owner {
            background-color: #2a3168;
        }
        /*.player-row {*/
            /*background-color: rgb(13, 18, 53);*/
        /*}*/
        .hero-row {
            background-color: rgb(19, 27, 77);
        }

        .hero-icons {
            position: absolute;
        }
        @media screen and (max-width: 480px) {
            .hero-icons {
                display: none;
            }
        }
        @media screen and (max-width: 768px) {
            table:not(.extra-info-collapsed) .hero-icons {
                display: none;
            }
        }
        .hero-icon-container {
            position: relative;
            width: 28px;
            height: 33px;
            top: 0.1em;
            &.show {
                display: inline-block;
            }
        }
        .hero-icon {
            position: absolute;
            left: 0.2em;
            width: 36px;
            height: 33px;
        }
        .hero-icon-background {
            z-index: 0;
            transform: skewX(-20deg);
            border-color: rgba(255, 255, 255, 0.5);
            border-style: solid;
            border-width: 4px;
            height: 100%;
            width: 90%;
        }
        .hero-icon-image {
            position: absolute;
            left: -2px;
            top: 1px;
            z-index: 1;
            height: 89.5%;
            clip-path: polygon(32% 0%, 112% 0%, 79% 100%, 0% 100%);
        }

        .extra-info-collapsed .extra-info-collapsible {
            display: none;
        }
    }

    .timeline {
        .card-body {
            padding: 1.25rem;
        }

        .player-names {
            padding-left: 25px;
            padding-right: 25px;
            font-size: 14px;
        }

        .player-name-long {
            font-size: 12px;
        }

        .dim .timeline-event {
            opacity: 0.2;
        }

        .timeline-event {
            text-anchor: middle;
            dominant-baseline: middle;
            cursor: pointer;
        }

        .timeline-event.highlight {
            opacity: 1 !important;
        }

        .timeline-event.death {
            font-size: 24px;
            font-weight: bold;
            fill: black;
            stroke: white;
            fill: #811212;
            stroke: red;
        }

        .timeline-event.resurrect {
            font-size: 24px;
            font-weight: bold;
            fill: lightblue;
        }

        .timeline-event.kill {
            font-size: 24px;
            font-weight: bold;
            fill: darkgray;
            stroke: white;
        }

        .timeline-event.assist {
            font-size: 18px;
            font-weight: bold;
            fill: lightblue;
        }

        .timeline-event.killfeed-assist {
            font-size: 18px;
            font-weight: bold;
            fill: lightgoldenrodyellow;
        }

        .timeline-event.elimination-assist {
            font-size: 18px;
            font-weight: bold;
            fill: lightgreen;
        }

        .timeline-event.destruction {
            font-size: 20px;
            fill: lightslategray;
            stroke: whitesmoke;
        }
    }

    .hero-stats, .compositions {
        .card-body {
            font: 300 11px 'Helvetica Neue',Helvetica,Arial,sans-serif;
        }

        .stats-pane{
            height: 465px;
        }

        .tab-stats-table th {
            font-size: 15px;
        }

        span.big {
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
        }

        .tab-stats-table tr th, .tab-stats-table tr td {
            color: #C8C8C8;
            font-weight: 300;
            line-height: 1.5;
            padding: 5px;
        }

        .dashed-line {
            padding: 0;
            margin: 10px 0 -2px;
            position: relative;
            border-top: 1px dashed;
        }

        .nohover:hover {
            background-color: unset !important;
        }

        .hero-spec-stats-text{
            position: absolute;
            right: 0;
            font-size: 10px;
            top: -15px;
        }

        th {
            width: 60%;
        }

        tbody > tr > td,
        tbody > tr > th {
            border: none !important;
        }
    }

    .teams {
        .team-table {
            tbody > tr > td,
            tbody > tr > th {
                padding: 1px;
                padding-right: 10px;
                border: none !important;
            }
        }
    }

    .dev-info {
        tbody > tr > td,
        tbody > tr > th {
            padding: 1px;
            padding-right: 10px;
        }
    }

}
