.stat-card {
    .hero-icon {
        position: relative;
        float: right;
        top: -15px;

        width: 75px;
        height: 75px;
    }

    .hero-icon-background {
        z-index: 0;
        transform: skewX(-20deg);
        border-color: rgba(255, 255, 255, 0.5);
        border-style: solid;
        border-width: 4px;
        height: 100%;
        width: 90%;
    }

    .hero-icon-image {
        position: absolute;
        left: -8px;
        top: 4px;
        z-index: 1;
        height: 89.5%;
        clip-path: polygon(32% 0%, 112% 0%, 79% 100%, 0% 100%);
    }
}
