{% macro header(show_time=True, show_player=False) -%}
    <tr>
        {% if show_player %}<th class="player">Player</th>{% endif %}
        {% if show_time %}<th class="time">Time</th>{% endif %}
        <th class="duration">Duration</th>
        <th class="squad">Squad</th>
        <th class="knockdowns" style="text-align: right;">Downs</th>
        <th class="kills" style="text-align: right;">Kills</th>
        <th class="placed" style="text-align: right;">Placed</th>
        <th class="dropped">Landed</th>
        <th class="squad-kills" style="text-align: right;">Squad Kills</th>
        <!--<th>Favourite Weapons</th>-->
        {% if is_ranked %}
        <th class="rank">Rank</th>
        <th class="rp-delta">RP </th>
        {% endif %}
    </tr>
{%- endmacro %}

{% macro summary(game, clickable=True, show_time=True, show_player=False) -%}
    <tr data-href={{url_for('game.game', key=game.key)}}
        data-key="{{game.key}}"
        class="{{'clickable' if game.url and clickable else ''}} {{ 'win' if game.won else '' }} placed-{{game.placed}}">
        {% if show_player %}<th class="player">{{ game.player_name }}</th>{% endif %}
        {% if show_time %}<td class="time"><div class="datetime-format-time">{{ game.timestamp }}</div></td>{% endif %}
        <td class="duration">{{ s2ts(game.duration) }}</td>
        <td class="squad m-0 p-0 h-100 noheight">
            <div style="background-image: url('{{ image_url(game.champion) }}')" class="character-icon highlight"></div>
            {% if game.squadmates[0] %}
            <div style="background-image: url('{{ image_url(game.squadmates[0]) }}')" class="character-icon"></div>
            {% endif %}
            {% if game.squadmates[1] %}
            <div style="background-image: url('{{ image_url(game.squadmates[1]) }}')" class="character-icon"></div>
            {% endif %}
        </td>
        <td class="knockdowns">
            {{ game.knockdowns if game.knockdowns != None else "-" }}
        </td>
        <td class="kills">
            {{ game.kills }}
        </td>
        <td class="placed">
            #{{ game.placed }}
        </td>
        <td class="dropped">
            {{ game.landed }}
        </td>
        <td class="squad-kills">
            {{ game.squad_kills if game.squad_kills != None else "-" }}
        </td>
        {% if is_ranked %}
        <td class="rank m-0 p-0 h-100 noheight">
            <div style="background-image: url('{{ image_url(game.rank.rank) }}')" class="rank-icon">
                {% if game.rank.tier %}
                <div class="rank-tier">{{ game.rank.tier }}</div>
                {% endif %}
            </div>
        </td>
        <td class="rp-delta">
            {{ format_rp(game.rank.rp_change) }}
        </td>
        {% endif %}
    </tr>
{%- endmacro %}
