<!DOCTYPE html>
<html lang="en">
<head>
    {# modern browsers prefer getting defer sources asap #}
    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/lib/jquery-3.4.1.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/lib/popper-1.12.9.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/lib/bootstrap-4.1.3.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/lib/intercooler-1.2.3.min.js') }}"></script>

    {% block head %}{% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}OverTrack - Automatic Game Tracking{% endblock %}</title>

    {% if meta %}
        {% include 'opengraph.html' %}
    {% endif %}

    {% if game_name %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + game_name + '.css') }}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    {% endif %}
    {% block css %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
</head>
<body class="has-background-black-ter has-text-white">
{% include 'navbar.html' %}
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-99105415-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-99105415-2');
</script>
</body>
</html>
