{% import 'navbar.html' as navbar with context %}

<!DOCTYPE html>
<html lang="en">
<head>
    {# modern browsers prefer getting defer sources asap #}
    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/lib/jquery-3.4.1.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/lib/bootstrap-4.1.3.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/lib/intercooler-1.2.3.min.js') }}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Apex Tracker{% endblock %}</title>
    {% if meta %}
        <meta content="{{ meta.title }}" property="og:title">
        {% if meta.colour %}
            <meta name="theme-color" content="{{ meta.colour }}">
        {% endif %}
        {% if meta.description %}
            <meta content="{{ meta.description }}" property="og:description">
            <meta name="description" content="{{ meta.description }}">
        {% endif %}
        {% if meta.image_url %}
            <meta content='{{ meta.image_url }}' property='og:image'>
        {% endif %}
        {% if meta.summary_large_image %}
            <meta name="twitter:card" content="summary_large_image">
        {% else %}
            <meta name="twitter:card" content="summary">
        {% endif %}
        {% if meta.oembed %}
        <link type="application/json+oembed" href="{{ meta.oembed }}"/>
        {% endif %}
    {% endif %}
    {% if game_name %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + game_name + '.css') }}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    {% endif %}
    {% block css %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/apex/favicon.png') }}"/>
</head>
<body class="has-background-black-ter has-text-white">
{{ navbar.navbar() }}
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-99105415-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-99105415-2');
</script>
</body>
</html>
