{% extends "base.html" %}
{% block title %}Download Client{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card card-main col-main">
            <div class="card-body">
                {% if no_games_alert %}
                    <div class="alert alert-warning" role="alert">
                        <p>
                            It looks like you don't have any games yet.
                            Make sure you have the client downloaded and running, then start playing!
                        </p>
                        <hr>
                        <p>
                            If you think you <i>should</i> have games here, check what account you are logged in to.
                            If you originally signed into OverTrack with an alt, the client may be recording games to that login instead.
                        </p>
                    </div>
                {% endif %}

                {% block alerts %}{% endblock %}

                <h2 class="card-title">Download Client</h2>
                <p>
                    Tracking games requires the OverTrack Client.
                </p>
                <a href="https://s3-us-west-2.amazonaws.com/overtrack-client-2/setup/OverTrack+setup.exe" class="btn btn-lg btn-success">Download</a>
                <p>
                    <br/>
                    This application captures your game's screen, and uses Computer Vision to record game data.<br/>
                    At no point does the client inject into, modify, or directly interact with games.
                </p>

                {% block extracontent %}{% endblock %}

                <div class="card client-tips" style="margin-top: 50px;">
                    <div class="card-header" style="background-color: #4d95ff;">
                        <h5>Tips</h5>
                    </div>
                    <div class="card-body" style="background-color: #3d2962;">
                        <ul>
                            <li>
                                Make sure you are tabbed-in to the game for the "Your Squad" screens (Apex Legends) and map loading screens (Overwatch).
                            </li>
                            <li>
                                For Overwatch stats to track, stay at least a second on each of the match summary stats screens. <br/>
                                Additionally the more you press tab (hold for at least a second), the more stats OverTrack can capture from there.
                            </li>
                            <li>
                                For Apex Legends stats to track, stay at least a second on each of the postgame screens. <br/>
                                Specifically the "Squad Eliminated" / "Champions of the Arena" and "Match Summary" screens.
                            </li>
                            <li>
                                For Overwatch results to track, make sure you remain in the game for a couple of second after it ends (don't ragequit).
                            </li>
                            <li>
                                For Overwatch SR to track, make sure you are visiting the role select screen after each game, and before closing the game. <br/>
                                Alternatively you can wait for the final screen at the end of a game which shows SR. Note that OverTrack will upload your game
                                as soon as it is finished, and will update the final SR once you visit the role select screen (if SR was not captured from the
                                endgame screen).
                            </li>
                            <li>
                                Because the client is new, the OverTrack installer may be blocked by Smart Screen. <br/>
                                If you see "Windows protected your PC" click "More info" then "Run anyway"
                            </li>
                            <li>
                                On first launch, the client may take a while to download additional requirements (Computer Vision is complex). <br/>
                                Once it has done its first install, future updates will be able to reuse most of the requirements and will be much faster.
                            </li>
                            <hr/>
                            <li>
                                If you are having trouble with the client or with your games tracking, please
                                <a href="{{ url_for('discord_redirect') }}">join the Discord</a> and post your issue in #support-and-feedback.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
