{% macro navbar_elem(text, route, bold=True, new_tab=False) -%}
{% if url_exists(route) %}
<li class="nav-item {{ 'active' if request.path == url_for(route) else '' }}" style="{{ 'font-weight: bold;' if bold else '' }}">
    {% if new_tab %}
    <a class="nav-link" href="{{ url_for(route, **kwargs) }}" target="_blank" rel="noopener noreferrer">
    {% else %}
    <a class="nav-link" href="{{ url_for(route, **kwargs) }}">
    {% endif %}
        {{ text }}
    </a>
</li>
{% endif %}
{%- endmacro -%}

<nav class="navbar navbar-expand-lg navbar-dark pd-sm-0">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/favicon.png') }}">
        OverTrack
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbar">
        <ul class="navbar-nav">
             <li class="nav-item dropdown game-selector" style="font-weight: bold;">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    {% if game_name %}
                    {{ game_name | game_name }}
                    <img src="{{ url_for('static', filename='images/' + game_name + '.png') }}">
                    {% else %}
                    Select Game
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right text-right">
                    {% for game in ['overwatch', 'apex', 'valorant'] %}
                    {% if url_exists(game + '.games_list.games_list') %}
                    <a class="dropdown-item {{ 'active' if game == game_name else '' }}" href="{{ url_for(game + '.games_list.games_list') }}">
                        {{ game | game_name }}
                        <img src="{{ url_for('static', filename='images/' + game + '-dark.png') }}">
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>
            <div class="dropdown-divider"></div>
            <li class="divider-vertical"></li>
            {% if game_name %}

            {{ navbar_elem('Games', game_name + '.games_list.games_list') }}
            {{ navbar_elem('Winrates', game_name + '.stats.winrates') }}
            {{ navbar_elem('Stats', game_name + '.stats.results') }}
            {{ navbar_elem('Hero Stats', game_name + '.hero_stats.results') }}
            <div class="dropdown-divider"></div>
            {{ navbar_elem('Discord Bot', game_name + '.discord_bot.root') }}
            {% endif %}
            <div class="dropdown-divider"></div>
            <li class="divider-vertical"></li>
            {% if not user or not user.subscription_active %}
            {{ navbar_elem('Subscribe ♥', 'subscribe.subscribe') }}
            {% endif %}
        </ul>
        <ul class="navbar-nav pull-right">
            {{ navbar_elem('Download Client', 'client') }}
            {{ navbar_elem('FAQ & Help', 'faq', game=game_name) }}
            {{ navbar_elem('Join Discord', 'discord_redirect', new_tab=True) }}
            <div class="dropdown-divider"></div>
            <li class="divider-vertical"></li>
            {% if user %}
            <li class="nav-item dropdown" style="font-weight: bold;">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% if url_exists('subscribe.subscribe') and user.subscription_active %}
                    <a class="dropdown-item" href="{{ url_for('subscribe.subscribe') }}">Subscription</a>
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for('login.logout') }}">Logout</a>
                </div>
            </li>
            {% else %}
            <a class="btn btn-success" href="{{ url_for('login.login') }}">
                Sign In
            </a>
            {% endif %}
        </ul>
    </div>
</nav>

