{% macro navbar_elem(text, path) -%}
<li class="nav-item {{ 'active' if request.path == path else '' }}" style="font-weight: bold;">
    <a class="nav-link" href="{{ path }}">{{ text }}</a>
</li>
{%- endmacro -%}

{% macro navbar() -%}
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">OverTrack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbar">
        <ul class="navbar-nav">
            {% if request.path.startswith('/game/') %}
            <li class="nav-item">
                <a class="nav-link" href="/">Games /</a>
            </li>
            <li class="nav-item active" style="font-weight: bold; margin-left: -10px;">
                <a class="nav-link" href="#">Game </a>
            </li>
            {% else %}
            {{ navbar_elem('Games', url_for('apex_games_list.games_list')) }}
            {% endif %}
            {{ navbar_elem('Stats', url_for('apex_stats.results')) }}
            <div class="dropdown-divider"></div>
            <li class="divider-vertical"></li>
            {% if url_exists('discord_bot.discord_bot') %}
            {{ navbar_elem('Discord Bot', url_for('discord_bot.discord_bot')) }}
            {% endif %}
            {{ navbar_elem('Download Client', url_for('client')) }}
            {% if url_exists('subscribe.subscribe') %}
            {{ navbar_elem('Subscribe ♥', url_for('subscribe.subscribe')) }}
            {% endif %}
        </ul>
        <ul class="navbar-nav pull-right">
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://discord.gg/JywstAB">Join Discord</a>
            </li>
        </ul>
    </div>
</nav>
{%- endmacro -%}

