{% macro navbar_elem(text, route, bold=True) -%}
<li class="nav-item {{ 'active' if request.path == url_for(route) else '' }}" style="{{ 'font-weight: bold;' if bold else '' }}">
    <a class="nav-link" href="{{ url_for(route) }}">{{ text }}</a>
</li>
{%- endmacro -%}

{% macro navbar() -%}
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">OverTrack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbar">
        <ul class="navbar-nav">
            {{ navbar_elem('Games', 'apex_games_list.games_list') }}
            {{ navbar_elem('Stats', 'apex_stats.results') }}
            <div class="dropdown-divider"></div>
            <li class="divider-vertical"></li>
            {{ navbar_elem('Discord Bot', 'discord_bot.discord_bot') }}
            {{ navbar_elem('Download Client', 'client') }}
            {% if not current_user() or not current_user().subscription_active %}
            {{ navbar_elem('Subscribe ♥', 'subscribe.subscribe') }}
            {% endif %}
        </ul>
        <ul class="navbar-nav pull-right">
            {{ navbar_elem('Join Discord', 'discord_redirect', bold=False) }}
            {% if current_user() %}
            <div class="dropdown-divider"></div>
            <li class="divider-vertical"></li>
            <li class="nav-item dropdown" style="font-weight: bold;">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">
                    {{ current_user().username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>
{%- endmacro -%}

