<div class="alert alert-primary sub-request" role="alert">
    <h2>Support OverTrack's Development</h2>
    <p>
        OverTrack requires the continued support of its users to exist. <br/>
        Developing this software is a monumental task - please consider supporting my efforts in building, maintaining, and hosting it by
        <a href="{{ url_for('subscribe.subscribe') }}">subscribing</a>.
    </p>
    {% if game_name == 'overwatch' %}
    <p>
        Subscribing will unlock full game details including detailed per-player stats, a full game timeline to track everything that occurred
        during a game, and tab-screen/endgame statistics.
    </p>
    {% elif game_name == 'apex' %}
    <p>
        I chose to release Apex Legends tracker with no monetization, but I am relying on your support to keep it running.
    </p>
    {% endif %}
    Thanks! ♥
</div>
