{% macro dict_to_card(d, name, width=6) -%}
{% if d %}
<div class="col-sm-{{ width }} card">
    <div class="card-header">
        {% if '_href' in d %}
        <a href="{{ d['_href'] }}"><h5>{{ name }}</h5></a>
        {% else %}
        <h5>{{ name }}</h5>
        {% endif %}
    </div>
    <div class="card-body">
        <table class="table table-dark table-borderless table-striped table-hover">
            <tbody>
            {% for e in d.items() %}
            {% if e[0] != '_href' %}
            <tr>
                <th>{{ e[0] }}</th>
                <td>
                    {% if e[1] is not string and e[1][1] is string and e[1][1].startswith('http') %}
                    <a href="{{ e[1][1] }}">{{ e[1][0] }}</a>
                    {% else %}
                    {{ e[1] }}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{%- endmacro %}
