/* Main */
body {
  min-height: 100vh;
}
.card-header {
    white-space:nowrap;
}
.card-body {
    padding-top: 0;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem;
}
.card-header {
  white-space: nowrap;
  padding-bottom: 0;
  background-color: #992e2690;
}
.card {
  border: 1px solid rgba(255,255,255,.125);
  padding: 0;
  margin-bottom: 0.5rem;
}
.bg-dark .card {
  background-color: #282C2F !important;
}
.row {
  padding-bottom: 0;
}
.text-blue {
    color: #4d95ff;
}
.text-purple {
    color: #ef20ff;
}
.text-gold {
    color: #ffdf00;
}
.table-responsive {
    display: table;
} 
.container {
  max-width: 992px;
}
.table-tight td, .table-tight th {
  padding: 6px;
  margin: 0px;
}


/* Navbar */
.navbar {
    background-color: #992e2691;
}
.navbar .divider-vertical {
    height: 7px;
    margin: 0 9px;
    border-top: 1px solid #697075;
}


/* Games List */
.season-selector .dropdown button {
  width: 100%;
}
.datetime-format-time {
  display: none;
}
.sub-request {
    margin-right: -8px;
    margin-left: -8px;
    background-color: #AF30FF70;
    color: white;
    border-color: #AF30FF;
}


/* Rank Panel */
/* .card.rank .card-body {
    padding-top: 0px;
    padding-bottom: 0px;
} */


/* Game Small */
.player-summaries td {
  padding: 6px;
  margin: 0px;
}
.player-summaries .character-icon {
  margin-right: -10px;
  margin-top: -3px;
}
.player-summaries .player-name {
  font-weight: bold;
}
.player-summaries .player-kills, .player-summaries .player-damage {
  text-align: right;
  padding-right: 20px;
}


/* Game Full */
.weapons-list td.knockdowns {
  text-align: right;
  padding-right: 25px !important;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
}
.combat-stats td.value {
  text-align: right;
  padding-right: 20px !important;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
}
.weapons-col {
  padding-right: 0.25rem;
}
.map-col {
  padding-left: 0.25rem;
}
.player-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -76px left 0px;
  background-clip: content-box;
  z-index: 0;
}
.player-card::before {
  opacity: 0.75;
  background-color: #000;
  border-radius: .25rem;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.player-card * {
  z-index: 2;
}
.player-stats td.value {
  font-weight: bold;
}
.admin-data table td, .admin-data table th {
    padding-top: 0;
    padding-bottom: 0;
}
pre {
    color: white;
}
.report-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 34px;
  width: 260px;
  background-color: #ff000060;
  padding-left: 15px;
  padding-top: 5px;
  border-top-left-radius: 5px;
}
.report-footer a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.other-players-col .other-players-list th, .other-players-col .other-players-list td {
    padding-top: 8px !important;
    padding-bottom: 0px !important;
}
.other-players-col .other-players-list td.squad {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.other-players-list .games-group-divider {
    height: 12px;
}


/* Unsorted */
.player-profile-panel {
  background-color: #343A40;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #ffffff;
  display: block;
  padding: 1.25rem;
}

.player-games-list {
  display: block;
  padding: 1.25rem;
}

.game {
  display: block;
  background-color: #2F486C;
  padding: 1.25rem;
  margin: 10px 0;
}

.bg-header {
    background-color: #992e26;
    padding-top: 0 !important;
    padding-bottom: 5px !important;
}
.bg-header a{
  color: rgb(248, 249, 250)
}
.card-main {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    padding: 20px;
}







.btn-twitch {
    background-image: linear-gradient(#6441A5, #6441A5, 60%, #392E5C);
    border-color: #392E5C;
    background-color: #392E5C;
}
.btn-bnet {
    background-image: linear-gradient(#004d80, #004d80, 60%, #002650);
    border-color: #002650;
    background-color: #002650;
}

.discord-notifications li {
  height: 65px;
}

.discord-notifications span {
  font-size: 20pt;
}

.discord-notifications .channel {
   color: gray;
   padding-left: 20pt;
   font-weight: bold;
}

.discord-notifications .channel-hash::before {
     content: "#";
     font-size: 25pt;
     color: gray;
     top: 9px;
     position: absolute;
     font-weight: bold;
     margin-left: 3pt;
}

.innercol {
    padding: 10px;
}



.card-body li {
    padding-bottom: 10px;
}



.sentry-error-embed .form-content .form-field:nth-child(2) {
    display: none !important;
}
.sentry-error-embed #id_comments::placeholder {
    color: transparent;
}
.sentry-error-embed header p span {
    display: none;
}

