{% import 'games/game_summary.html' as game_summary with context %}
{% import 'game/map.html' as map with context %}

{% macro player(player, index) -%}
{% if player %}
<div class="col-lg-4" style="{{ 'padding-right: 0.25rem; ' if index != 2 else '' }} {{ 'padding-left: 0.25rem; ' if index != 0 else '' }}">
    <div class="card bg-dark player-card" style="background-image: url('{{ image_url(player['champion'], True) }}')">
        <div class="card-header" style="background-color: {{ champion_colour(player['champion']) }}90; ">
            <h5>{{ player['name'] }}</h5>
        </div>
        <div class="card-body">
            {% if player['stats'] %}
            <table class="table table-borderless table-striped table-hover player-stats">
                <tbody>
                    <tr>
                        <th class="name">Kills</th>
                        <td class="value">{{ player['stats']['kills'] | ifnone('?') }}</td>
                    </tr>
                    <tr>
                        <th class="name">Damage Dealt</th>
                        <td class="value">{{ player['stats']['damage_dealt'] | ifnone('?') }}</td>
                    </tr>
                    <tr>
                        <th class="name">Survival Time</th>
                        <td class="value">{{ s2ts(player['stats']['survival_time']) if player['stats']['survival_time'] else '' }}</td>
                    </tr>
                    <tr>
                        <th class="name">Players Revived</th>
                        <td class="value">{{ player['stats']['players_revived'] | ifnone('?') }}</td>
                    </tr>
                    <tr>
                        <th class="name">Players Respawned</th>
                        <td class="value">{{ player['stats']['players_respawned'] | ifnone('?') }}</td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            {% if not player['stats'] %}
            <div style="height: 240px; margin-bottom: 16px;">
                <p>No endgame stats recorded</p>
                <p>Make sure you stay on the 'Squad Eliminated' / 'Champions of the Arena' screen for at least a second.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{%- endmacro %}

{% macro dict_to_card(d, name, width=6) -%}
{% if d %}
<div class="col-sm-{{ width }} card bg-dark">
    <div class="card-header">
        {% if '_href' in d %}
        <a href="{{ d['_href'] }}"><h5>{{ name }}</h5></a>
        {% else %}
        <h5>{{ name }}</h5>
        {% endif %}
    </div>
    <div class="card-body">
        <table class="table table-borderless table-striped table-hover">
            <tbody>
            {% for e in d.items() %}
            {% if e[0] != '_href' %}
            <tr>
                <th>{{ e[0] }}</th>
                <td>{{ e[1] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{%- endmacro %}


{% extends "base.html" %}
{% block title %}Game{% endblock %}
{% block meta %}
<meta content="{{ og_title }}" property="og:title">
<meta name="theme-color" content="{{ theme_colour }}">
<meta content="{{ og_description }}" property="og:description">
<meta content="{{ image_url(game['squad']['player']['champion']) }}" property='og:image'>
<link type="application/json+oembed" href="{{ url_for('static', filename='oembed.json') }}"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/games.css') }}">
{% endblock %}

{% block content %}
<div class="container pt-3">
    <div class="container">
        <div class="row games-list-row">
            <table class="table table-borderless table-striped table-dark games-list">
                <thead>
                    {{ game_summary.header() }}
                </thead>
                <tbody>
                    {{ game_summary.summary(summary, clickable=False) }}
                </tbody>
            </table>
        </div>
        <div class="row weapons-map-row">
            <div class="col-sm-5 weapons-col">
                <div class="card bg-dark">
                    <div class="card-header">
                        <h5>Weapons</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless table-striped table-hover weapons-list">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Downs</th>
                                        <th>Time Carried</th>
                                        <th>Time Drawn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for weapon in game['weapons']['weapon_stats'] %}
                                    <tr>
                                        <th class="weapon">{{ weapon['weapon'] }}</th>
                                        <td class="knockdowns">{{ weapon['knockdowns'] or 0 }}</td>
                                        <td class="time-held">{{ s2ts(weapon.get('time_held', 0)) }}</td>
                                        <td class="time-active">{{ s2ts(weapon.get('time_active', 0)) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card bg-dark">
                    <div class="card-header">
                        <h5>Combat</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-borderless combat-stats">
                            <thead>
                                <tr>
                                    <th>Downs</th>
                                    <th>Elims</th>
                                    <th>Down Assists</th>
                                    <th>Elim Assists</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="value">{{ game['combat']['knockdowns'] | length }}</td>
                                    <td class="value">{{ game['combat']['eliminations'] | length }}</td>
                                    <td class="value">{{ game['combat']['knockdown_assists'] | length }}</td>
                                    <td class="value">{{ game['combat']['elimination_assists'] | length }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-7 map-col">
                <div class="card bg-dark">
                    <div class="card-header">
                        <h5>Route</h5>
                    </div>
                    <div class="card-body">
                        {{ map.map(game['route'], game['combat']) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row squad-row">
            {{ player(game['squad']['player'], 0) }}
            {{ player(game['squad']['squadmates'][0], 1) }}
            {{ player(game['squad']['squadmates'][1], 2) }}
        </div>

        {% if admin_data %}
        <hr/>
        <div class="admin-data">
            <div class="row">
                {{ dict_to_card(summary.asdict(), 'Game Summary') }}
                {{ dict_to_card(admin_data['frames_metadata'], 'Frames') }}
            </div>
            <div class="row">
                {{ dict_to_card(admin_data['game_metadata'], 'Game Object', 12) }}
            </div>
            <div class="row" style="left: 1vw; position: absolute; right: 1vw;">
                <div class="col-sm-12 card bg-dark">
                    <div class="card-header">
                        <h5>Log</h5>
                    </div>
                    <div class="card-body">
                        <pre>
{{ '\n'.join(admin_data['log']) }}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
<div class="report-footer">
    <a href="#" onclick="report_issue()">Report an issue with this game</a>
</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='js/d3.v5.min.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/map.js') }}"></script>

<script src="https://browser.sentry-cdn.com/5.0.6/bundle.min.js" crossorigin="anonymous"></script>
<script>
class UserReport extends Error {
  constructor(message) {
    super(message);
    this.name = "{{ game['key'] }}";
  }
};
function report_issue(){
    Sentry.init({
        dsn: 'https://3ff0ce0da5ef40c19c6ef3a13a39aea5@sentry.io/1434728',
        beforeSend(event, hint) {
            Sentry.showReportDialog({
                eventId: event.event_id,
                labelName: 'Discord Name',
                user: {
                    'name': 'Not Provided',
                    'email': 'none@example.com'
                },

                title: 'Report Tracking Issue',
                subtitle: 'Please also join the Discord to stay in the loop and provide more feedback if necessary. https://discord.gg/JywstAB',
                labelComments: 'What\'s wrong with this game?',
                labelSubmit: 'Submit',
            });
            return event;
        }
    });
    let error = new UserReport('User Reported Issue');
    Sentry.captureException(error, {fingerprint: ["{{ game['key'] }}"]});
}
</script>
{% endblock %}
