{% import 'apex/games_list/game_summary.html' as game_summary with context %}

{% macro next_page(games, next_from) -%}
{% for game in games %}
<tr>
    <td class="date-divider date-divider-invisible date-divider-timestamp" colspan="{{10}}" data-timestamp="{{game.timestamp}}"></td>
</tr>
<tr></tr>
{{ game_summary.summary(game) }}
{% endfor %}
{% if next_from %}
<tr id="gamesListReplace"
    ic-append-from='{{ next_from | safe }}'
    ic-trigger-on='scrolled-into-view'
    ic-target='#gamesListReplace'
    ic-indicator='#indicator'
    ic-on-complete='update_rows'
    ic-replace-target='true'
>
</tr>
{% endif %}
{%- endmacro %}
