{% import 'apex/games_list/games_page.html' as games_page with context %}
{% import 'apex/games_list/game_summary.html' as game_summary with context %}
{% import 'apex/games_list/rank.html' as rank with context %}
{% import 'apex/game/game_small.html' as game_small with context %}

{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<br/>
    <section>
        <div class="container games-list">
            {% if show_sub_request %}
            <div class="alert alert-primary sub-request" role="alert">
                <h2>Support OverTrack's Development</h2>
                <p>
                    Hi! I'm glad you're enjoying using OverTrack. <br/>
                    This has been a project I have poured my heart and soul into, and have been working fulltime on for some time. <br/>
                    I need the support of people like you to keep OverTrack alive. If you would like to help support the development of OverTrack, please consider subscribing.
                </p>
                <a href="/subscribe" class="btn btn-primary sub-link">Subscribe ♥</a>
            </div>
            {% endif %}

            <div class="row">

                <div class="col-lg-30pc col-sm-12 games-list-panels">
                    <div class="card season-selector">
                        <div class="card-body">
                            <!-- <h5>Season:</h5> -->
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ season.name }}{{ " Ranked" if is_ranked else "" }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for s in seasons %}
                                        {% if s.has_ranked and (s.index != season.index or not is_ranked) %}
                                        <a class="dropdown-item" href="?season={{ s.index }}&ranked=true">{{ s.name }} Ranked</a>
                                        {% endif %}
                                        {% if s.index != season.index or is_ranked %}
                                        <a class="dropdown-item" href="?season={{ s.index }}&ranked={{ s.ranked }}">{{ s.name }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if latest_game %}
                    <div class="card latest-game">
                        <div class="card-header">
                            <a href="{{ url_for('apex_game.game', key=latest_game.key) }}"><h5>Most recent match</h5></a>
                        </div>
                        <div class="card-body">
                            {{ game_small.game(latest_game) }}
                        </div>
                    </div>
                    {% endif %}
                    {% if is_ranked %}
                    <div class="card rank">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-100pc col-sm-6">
                                    {% if rank_summary %}
                                        {{ rank.rank_image(rank_summary) }}
                                    {% endif %}
                                </div>
                                <div class="col-lg-100pc col-sm-6">
                                    {% if rp_data and rp_data | length > 5 %}
                                    <script type="text/javascript">
                                        const rpHistory = {{ rp_data | tojson | safe }};
                                    </script>
                                        <svg id="graph-svg" viewBox="0 0 362 133" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="0" y="0" width="362" height="133" fill="#402020a0" stroke="#aeaeae" stroke-width="3"/>
                                        </svg>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
<!--                    <div class="card stats">-->
<!--                        <div class="card-header">-->
<!--                            <h5>Stats</h5>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            Coming Soon!-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

                <div class="col-lg-70pc col-sm-12 games-list-games">
                    <div class="table-responsive">
                        <table id="gamesList" class="table table-dark table-borderless table-striped table-hover shadow games-list narrow">
                            <thead class="">
                                {{ game_summary.header() }}
                            </thead>
                            <tbody id="gamesListBody">
                            {{ games_page.next_page(games, next_from) }}
                            </tbody>
                        </table>
                        <div id="indicator" class="d-flex justify-content-center" style="display: none !important;">
                            <div class="spinner-border" role="status">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
<script defer src="{{ url_for('static', filename='js/lib/d3.v5.min.js') }}"></script>
{% if rp_data and rp_data | length > 5 %}
<script defer src="{{ url_for('static', filename='js/apex/rank.js') }}"></script>
{% endif %}
<script defer src="{{ url_for('static', filename='js/apex/map.js') }}"></script>
<script type="text/javascript">
let dateOpts = {
    weekday: 'short',
    month: 'short',
    day: 'numeric',
};
let lastText = new Date().toLocaleString('default', dateOpts);

function update_times(){
    // format times in local timezone and add date dividers

    let times = Array.prototype.slice.call(document.getElementsByClassName('datetime-format-timestamp'));
    for (let e of times){
        let t = new Date(e.innerText * 1000);
        e.innerText = t.toLocaleString('default', {
            hour: 'numeric',
            minute: '2-digit',
        });
        e.classList.remove('datetime-format-timestamp');
        e.classList.add('datetime-format-time');
    }

    let dates = Array.prototype.slice.call(document.getElementsByClassName('date-divider-timestamp'));
    for (let e of dates){
        let d = new Date(+e.getAttribute('data-timestamp') * 1000);
        let text = d.toLocaleString('default', dateOpts);
        if (text != lastText){
            lastText = text;
            e.innerText = text;
            e.classList.remove('date-divider-invisible');
        }
        e.classList.remove('date-divider-timestamp');
    }
}
function make_clickable(){
    $("tr.clickable").click(function() {
        window.document.location = $(this).data("href");
    });
    $("tr.clickable").mouseup(function() {
        if (event.button === 1){
            window.open($(this).data("href"));
        }
    });
}
function update_rows(){
    window.setTimeout(
        ()=>{
            update_times();
            make_clickable();
        },
        0
    );
}
$(document).ready(function($) {
    update_rows();
});
</script>
{% endblock %}
