<tr class="overwatch-game-summary game-result-{{ game.result.lower() }} game-summary {{ 'make-clickable' if game.viewable and game.game_version and game.game_version >= OLDEST_SUPPORTED_GAME_VERSION }}"
    data-href="{{ url_for('overwatch.game.game', key=game.key) if game.viewable and game.game_version and game.game_version >= OLDEST_SUPPORTED_GAME_VERSION else '#' }}"
    data-toggle="popover"
    tabindex="0">
    <td class="time">
        <div class="epoch-format-time">
            {{ game.time }}
        </div>
    </td>
    {% if not quickplay %}
    <td class="sr-change colour-by-result num text-right">
        <b>{{ sr_change(game) }}</b>
    </td>
    {% endif %}
    <td class="result colour-by-result trext-left">
        {{ game.result | result }}
    </td>
    {% if not quickplay %}
    {% if game.score %}
    <td class="score colour-by-result">
        <span class="num">
            {{ game.score[0] }}
        </span>
        /
        <span class="num">
            {{ game.score[1] }}
        </span>
    </td>
    {% else %}
    <td class="score empty"></td>
    {% endif %}
    <td class="end-sr num">
        <img src="{{ url_for('static', filename='images/overwatch/rank_icons/' + rank(game) + '.png') }}">
        <span>{{ game.end_sr | ifnone('?') }}</span>
    </td>
    {% endif %}
    <td class="duration">
        <div class="num">
            {{ game.duration | duration }}
        </div>
    </td>
    <td class="map">
        <div class="map-wrap">
            <div class="map-bg bg" style="{{ map_style(game.map) }}"></div>
            <div class="map-title">
                <div class="map-title-bg bg"></div>
                <i>{{ game.map }}</i>
            </div>
        </div>
    </td>
    <td class="hero" style="position: relative">
        {% for hero in game.heroes_played[:3] %}
        <img src="{{ url_for('static', filename='images/overwatch/hero_icons/' + hero[0] + '.png') }}">
        {% endfor %}
<!--        <span class="game-edit glyphicon glyphicon-pencil"></span>-->
    </td>
</tr>
