<div class="card game-summary game-result-{{ game.result.lower() }}">
    <div class="row no-gutters">
        <div class="col thumbnail" style="{{ map_thumbnail_style(game.map) }}">
            <div class="wedge"></div>
            <div class="hero-icon role-{{ game.role | ifnone('unknown') }}">
                <div class="hero-icon-background"></div>
                {% if game.heroes_played %}
                <img class="hero-icon-image"
                     src="{{ url_for('static', filename='images/overwatch/hero_icons/' + game.heroes_played[0][0] + '.png') }}"
                     alt="{{ game.heroes_played[0][0] | title }}">
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card-body details">
                <h3 class="d-inline-block card-title game-result game-result-{{ game.result.lower() }}">
                    {{ game.result | result }}
                </h3>
                {% if not show_rank %}
                <h6 class="d-inline-block card-subtitle text-muted float-right game-time epoch-format-time">
                    {{ game.time }}
                </h6>
                {% elif game.rank %}
                <img class="rank float-right"
                     height="35"
                     style="vertical-align: bottom"
                     src="{{ url_for('static', filename='images/overwatch/rank_icons/' + game.rank + '.png') }}">
                {% endif %}
                <div class="card-text">
                    {% if game.game_type == 'competitive' %}
                        {% if game.rank == 'placement' and not game.end_sr %}
                            <span class="details-text placement">
                                Placement
                            </span>
                        {% else %}
                            <span class="details-text sr-change {{ 'start-sr-known' if game.start_sr else '' }} {{ 'end-sr-known' if game.end_sr else '' }}">
                                {{ game.start_sr | ifnone('?' if game.rank != 'placement' else '-') }}
                                →
                                {{ game.end_sr | ifnone('?') }}
                                ({{ sr_change(game) }})
                            </span>
                        {% endif %}
                    {% else %}
                        {% if game.attacking is sameas true %}
                            <span class="details-text attacking-defending">Attacking</span>
                        {% elif game.attacking is sameas false %}
                            <span class="details-text attacking-defending">Defending</span>
                        {% elif game.rounds %}
                            <span class="details-text rounds">{{ game.rounds }} rounds</span>
                        {% endif %}
                    {% endif %}
                    <h6 class="d-inline-block text-muted float-right">{{ game.duration // 60 }} min</h6>
                </div>
            </div>
        </div>
        {% if game.viewable or user.superuser %}
            <a href="{{ url_for('overwatch.game.game', key=game.key) }}" class="stretched-link"></a>
        {% elif show_sub_request %}
            <a href="#"
               style="color: #c59b12;"
               class="subscribe-tooltip stretched-link"
               data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner"></div></div>'
               data-placement="left"
               data-toggle="tooltip"
               data-html="true"
               data-trigger="click"
               title='Please <a href="{{ url_for('subscribe.subscribe') }}">subscribe</a> to view full game details'></a>
        {% endif %}
        {% if show_edit_button %}
            <a
                href="#"
                ic-get-from="{{ url_for('overwatch.games_list.edit_game', key=game.key) }}"
                ic-trigger-on="click"
                ic-target="#edit-target"
                ic-on-complete="setTimeout(function(){$('#editGame').modal('show'); }, 0);"
                class="edit-link">
            </a>
        {% endif %}
    </div>
</div>
