{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        {% if show_sub_request %}
        {% include 'sub_request.html' %}
        {% endif %}

        {#<div class="card season-selector">
            <div class="card-header" style="background-color: #58859F; ">#}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        {{ current_season.name }}
                    </button>
                    <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton"
                         x-placement="bottom-start"
                         style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                        {% for s in seasons %}
                        <a class="dropdown-item" href="?season={{ s.index }}">{{ s.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {#</div>
            <div class="card-body">
            </div>
        </div>#}
        <div id="sessions-list">
            {% include 'overwatch/games_list/sessions_page.html' %}
        </div>
    </div>
</section>
{% endblock %}
