{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    {% if show_sub_request %}
    {% include 'sub_request.html' %}
    {% elif show_trial_reminder %}
    {% include 'overwatch/games_list/trial_reminder.html' %}
    {% endif %}

    <div class="card games-selector">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-sm-12 mb-3">
                    <div class="dropdown season">
                        <button class="btn btn-primary btn-block dropdown-toggle"
                                type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            {{ current_season.name }}
                        </button>
                        <div class="dropdown-menu"
                             aria-labelledby="dropdownMenuButton"
                             x-placement="bottom-start"
                             style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                            {% for s in seasons %}
                            <a class="dropdown-item" href="?season={{ s.index }}&quickplay={{ '1' if include_quickplay else '0' }}">{{ s.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="custom-control custom-switch custom-switch-lg quickplay {{ 'disabled' if not allow_toggle_quickplay else '' }}">
                        <input type="checkbox" {% if include_quickplay %}checked{% endif %} {% if not allow_toggle_quickplay%} disabled{% endif %} class="custom-control-input" id="quickplaySwitch">
                        <label class="custom-control-label" for="quickplaySwitch">Include Quickplay</label>
                        {% if allow_toggle_quickplay %}
                        <a class="stretched-link"
                           href="?season={{ current_season.index }}&quickplay={{ '0' if include_quickplay else '1' }}"></a>
                        {% endif %}
                    </div>
                </div>

                <div class="offset-lg-1 col-lg-3 offset-sm-2 col-sm-4">
                    {% if show_share_links_edit %}
                    <a class="btn btn-primary btn-block"
                       data-toggle="modal"
                       data-target="#publicShareLinks"
                       ic-get-from="{{ url_for('overwatch.games_list.share_links') }}"
                       ic-target="#shareLinksContent"
                       ic-on-complete="on_share_links_loaded"
                       ic-trigger-on="click once">
                        Edit Share Link
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="sessions-list" class="px-0 px-md-2 px-lg-4">
        {% include 'overwatch/games_list/sessions_page.html' %}
    </div>
</div>

<div class="modal fade" id="publicShareLinks" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form ic-post-to="{{ url_for('overwatch.games_list.share_links') }}"
              ic-verb="POST"
              ic-target="#shareLinksContent"
              ic-on-complete="on_links_saved">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Share Links</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container" id="shareLinksContent">
                    <div class="text-center">
                        <i class="fa fa-spinner fa-spin fa-2x"></i> Loading...
                    </div>
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='js/lib/bootstrap-select-1.13.2.min.js') }}"></script>
<script>
function on_share_links_loaded(){
    window.setTimeout(() => {
        $('.selectpicker').selectpicker('refresh');
        $('#shareLinkURL').tooltip({'trigger':'manual', 'title': 'Copied', 'delay': { "show": 500, "hide": 100 }});
    });
}
function on_links_saved(){
    window.setTimeout(() => {
        on_share_links_loaded()
        $('#publicShareLinks').modal('hide');
    });
}
function copy_share_link(){
    var shareLinkURL = document.getElementById('shareLinkURL');
    shareLinkURL.select();
    shareLinkURL.setSelectionRange(0, 99999);
    document.execCommand('copy');

    $('#shareLinkURL').tooltip('show');
    window.setTimeout(() => $('#shareLinkURL').tooltip('hide'), 1500);
}
document.addEventListener("DOMContentLoaded", function() {
    $('.subscribe-tooltip').on('show.bs.tooltip', function () {
        $('.subscribe-tooltip').not(this).tooltip('hide');
    });
});
</script>
{% endblock %}
