{% for session in sessions %}
<div class="row session">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5><span class="epoch-format-date">{{ session.start }}</span> - {{ session.account }} - {{ session.game_mode | gamemode }}</h5>
            </div>
            <div class="card-body">
                <div class="games-list container">
                    <div class="card-deck">
                        {% for game in session.games %}
                        {% include 'overwatch/games_list/game_card.html' %}
                        {% endfor %}
                        {% for i in range(3) %}
                        <div class="card game-summary" style="height: 0;opacity: 0;">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% if next_from %}
<div id="nextSessions"
     style="padding-bottom: 30px;"
     ic-append-from='{{ next_from | safe }}'
     ic-trigger-on='scrolled-into-view'
     ic-target='#nextSessions'
     ic-on-complete='update_elements'
     ic-replace-target='true'

>
    <div id="indicator" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
        </div>
    </div>
</div>
{% endif %}
