<div class="row">
    {% for stat in roles %}
        <div class="col mb-3">
            <div class="card">
                <div class="card-header font-weight-bold" style="background-color: {{ stat.color }}; font-size: x-large;">
                    {{ stat.name.upper() }}
                </div>
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <tbody>
                        {% for n, s in stat.base_stats() %}
                            <tr>
                                <td>{{ n }}</td>
                                <td class="font-weight-bold">
                                    {{ s }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% for stat in heroes %}
    <div class="row">
        <div class="col mb-3">
            <div class="card stat-card" style="border-bottom: thick solid {{ stat.color }}; border-top: thick solid {{ stat.color }};">
{#                <div class="card-header font-weight-bold"#}
{#                     style="background-color: {{ stat.color }}; color: {{ stat.text_color }}; background-image: url({{ url_for('static', filename=stat.image) }}); background-repeat: no-repeat; -webkit-background-size: contain;background-size: contain; background-origin: border-box; background-position: right;">#}
{#                    {{ stat.name.upper() }}#}
{#                </div>#}
                <div class="card-body">
                    <div class="row row-cols-2 row-cols-md-6" style="font-size: large; color: lightgrey;">
                        <div class="col col-4 col-lg-2 p-0">
                            <div class="hero-icon">
                                <div class="hero-icon-background" style="background-color: {{ stat.color }}"></div>
                                <img class="hero-icon-image"
                                     src="{{ url_for('static', filename=stat.image) }}"
                                     alt="{{ stat.name | title }}">
                            </div>
                            <br/>
                        </div>
                        <div class="col col-8 col-lg-2 p-0 font-weight-bold text-white text-truncate" style="font-size: x-large">
                            {{ stat.name.upper() }}
                        </div>
                        {% for n, s in stat.base_stats() %}
                            <div class="col">
                                <div class="row">
                                    <div class="col text-right font-weight-bold">
                                        {{ s }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-right">
                                        {{ n }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% for stat_group in [stat.general_stats(), stat.specific_stats()] %}
                        <hr style="border-color: {{ stat.color }}; border-style: dashed;" />
                        <div class="row justify-content-start pr-4" style="color: lightgrey; font-size: small;">
                            {% for name, val, small in stat_group %}
                                <div class="col-6 col-md-2 p-0">
                                    <div class="row">
                                        <div class="col text-right">
                                    <span style="font-weight: bold; color: white; font-size: large;">
                                        {{ val }}
                                    </span> <span style="margin: 5px 0 0 5px">
                                        {{ small }}
                                    </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-right">{{ name }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
