<div class="row justify-content-center no-gutters">
    {% for stat in roles %}
        <div class="col">
            <div class="card mx-0 mx-sm-2 my-2">
                <div class="card-header font-weight-bold" style="background-color: {{ stat.color }}; color: {{ stat.text_color }}; font-size: x-large;">
                    {{ stat.name.upper() }}
                </div>
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <tbody>
                        {% for n, s in stat.base_stats() %}
                            <tr>
                                <td>{{ n }}</td>
                                <td class="font-weight-bold">
                                    {{ s }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% for stat in heroes if stat.games >= 5 or not complete_only %}
    <div class="row no-gutters justify-content-center">
        <div class="col">
            <div class="card mx-0 mx-sm-2 my-2 stat-card" style="border-bottom: thick solid {{ stat.color }}; border-top: thick solid {{ stat.color }};">
                <div class="card-body">
                    <div class="row row-cols-2 row-cols-md-6 justify-content-start pr-2 pr-sm-4" style="font-size: large; color: lightgrey;">
                        <div class="col p-0 hero-icon-container">
                            <div class="hero-icon">
                                <div class="hero-icon-background" style="background-color: {{ stat.color }}"></div>
                                <img class="hero-icon-image"
                                     src="{{ url_for('static', filename=stat.image) }}"
                                     alt="{{ stat.name | title }}">
                            </div>
                            <br/>
                        </div>
                        <div class="col p-0 font-weight-bold text-white text-truncate text-right {# text-center text-sm-left #} text-md-center" style="font-size: x-large">
                            {{ stat.name.upper() }}
                        </div>
                        {% for n, s in stat.base_stats() %}
                            <div class="col p-0">
                                <div class="row">
                                    <div class="col text-right font-weight-bold">
                                        {{ s }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-right" style="font-size: small;">
                                        <nobr>{{ n }}</nobr>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if stat.games_with_stats >= 3 %}
                        {% for stat_group in [stat.general_stats(), stat.specific_stats()] %}
                            <hr style="border-color: {{ stat.color }}; border-style: dashed;" />
                            <div class="row row-cols-2 row-cols-md-6 justify-content-start pr-2 pr-sm-4" style="color: lightgrey; font-size: small;">
                                {% for name, val, small in stat_group %}
                                    <div class="col-6 col-md-2 p-0">
                                        <div class="row">
                                            <div class="col text-right">
                                        <span style="font-weight: bold; color: white; font-size: large;">
                                            {{ val }}
                                        </span> <span style="margin: 5px 0 0 5px">
                                            {{ small }}
                                        </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col text-right">{{ name }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="text-center" style="color: lightgrey; font-size: small;">
                            Not enough stats to display.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
