{% extends "base.html" %}
{% block head %}
<script defer src="{{ url_for('static', filename='js/lib/tabulator.min.js') }}"></script>
{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="valorant-stats">
    <div class="container">
        <div class="row">
            <div class="col mb-2" >
                <div class="card stats-menu">
                    <div class="card-header">
                        <h4>Agent Winrates</h4>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row justify-content-between">
                            <div class="col-12 col-md-4">
                                <select class="custom-select map-options">
                                    <option class="map-option" selected value="None">All Maps</option>
                                    {% for m in maps %}
                                    <option class="map-option" value="{{ m }}">{{ m | title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if has_user %}
                            <div class="col-12 col-md-4">
                                <a href="{{ url_for('valorant.stats.public_winrates', username='all') }}">View averages for all players</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div id="stats-table-maps" class="w-100"></div>
                        </div>
                        <div class="row">
                            <div id="stats-table" class="w-100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    window.addEventListener('load', function() {
        var tabledata = {
            {% for selected_map in [none] + maps %}
            {{ selected_map }}: [
                {% set wr = winrates.map(selected_map) %}
                {% set wr_av = winrates_average.map(selected_map) %}
                {
                    agent: "All Agents",
                    wr_games: [{{wr.games.winrate}}, {{wr_av.games.winrate}}, {{wr.games.wins}}, {{wr.games.total}}],
                    wr_rounds: [{{wr.rounds.winrate}}, {{wr_av.rounds.winrate}}, {{wr.rounds.wins}}, {{wr.rounds.total}}],
                    wr_att_rounds: [{{wr.attacking_rounds.winrate}}, {{wr_av.attacking_rounds.winrate}}, {{wr.attacking_rounds.wins}}, {{wr.attacking_rounds.total}}],
                    wr_def_rounds: [{{wr.defending_rounds.winrate}}, {{wr_av.defending_rounds.winrate}}, {{wr.defending_rounds.wins}}, {{wr.defending_rounds.total}}],
                },
                {% for agent in agents %}
                {% if (selected_map, agent) in winrates.maps_agents %}
                {% set wr = winrates.map_agent(selected_map, agent) %}
                {% set wr_av = winrates_average.map_agent(selected_map, agent) %}
                {
                    agent: "{{agent | title}}",
                    wr_games: [{{wr.games.winrate}}, {{wr_av.games.winrate}}, {{wr.games.wins}}, {{wr.games.total}}],
                    wr_rounds: [{{wr.rounds.winrate}}, {{wr_av.rounds.winrate}}, {{wr.rounds.wins}}, {{wr.rounds.total}}],
                    wr_att_rounds: [{{wr.attacking_rounds.winrate}}, {{wr_av.attacking_rounds.winrate}}, {{wr.attacking_rounds.wins}}, {{wr.attacking_rounds.total}}],
                    wr_def_rounds: [{{wr.defending_rounds.winrate}}, {{wr_av.defending_rounds.winrate}}, {{wr.defending_rounds.wins}}, {{wr.defending_rounds.total}}],
                },
                {% endif %}
                {% endfor %}
            ],
            {% endfor %}
        };

        var mapdata = [
            {% for map in maps %}
            {% if (map, None) in winrates.maps_agents %}
            {% set wr = winrates.map(map) %}
            {% set wr_av = winrates_average.map(map) %}
            {
                map: "{{map | title}}",
                wr_games: [{{wr.games.winrate}}, {{wr_av.games.winrate}}, {{wr.games.wins}}, {{wr.games.total}}],
                wr_rounds: [{{wr.rounds.winrate}}, {{wr_av.rounds.winrate}}, {{wr.rounds.wins}}, {{wr.rounds.total}}],
                wr_att_rounds: [{{wr.attacking_rounds.winrate}}, {{wr_av.attacking_rounds.winrate}}, {{wr.attacking_rounds.wins}}, {{wr.attacking_rounds.total}}],
                wr_def_rounds: [{{wr.defending_rounds.winrate}}, {{wr_av.defending_rounds.winrate}}, {{wr.defending_rounds.wins}}, {{wr.defending_rounds.total}}],
            },
            {% endif %}
            {% endfor %}
        ];

        function abbreviateNumber(value) {
            // https://stackoverflow.com/a/10601315
            var newValue = value;
            if (value >= 1000) {
                var suffixes = ["", "k", "m", "b","t"];
                var suffixNum = Math.floor( (""+value).length/3 );
                var shortValue = '';
                for (var precision = 2; precision >= 1; precision--) {
                    shortValue = parseFloat( (suffixNum != 0 ? (value / Math.pow(1000,suffixNum) ) : value).toPrecision(precision));
                    var dotLessShortValue = (shortValue + '').replace(/[^a-zA-Z 0-9]+/g,'');
                    if (dotLessShortValue.length <= 2) { break; }
                }
                if (shortValue % 1 != 0)  shortValue = shortValue.toFixed(1);
                newValue = shortValue+suffixes[suffixNum];
            }
            return newValue;
        }

        var agent_formatter = (cell, formatterParams, onRendered) => {
            let agent = cell.getValue();
            var image;
            var all_agents;
            if (agent == "All Agents") {
                image = "{{ url_for('static', filename='images/valorant.png') }}"
                all_agents = "all-agents";
            } else {
                image = `{{ url_for('static', filename='images/valorant/agent_profiles/') }}${agent.toLowerCase()}.png`
                all_agents = "";
            }
            return `
                ${agent}
                <br/>
                <img class="agent-thumbnail{% if not has_user %}-small{% endif %} m-0 ${all_agents}" src="${image}" />
            `;
        }

        var map_formatter = (cell, formatterParams, onRendered) => {
            let map = cell.getValue();
            var image = `{{ url_for('static', filename='images/valorant/maps/') }}${map.toLowerCase()}.png`
            return `
                <div class="map-name">${map}</div>
                <img class="map-thumbnail{% if not has_user %}-small{% endif %} m-0" src="${image}" />
            `;
        }

        var progress_formatter = (cell, formatterParams, onRendered) => {
            let perc = Math.round(cell.getValue()[0] * 100);
            let perc_av = Math.round(cell.getValue()[1] * 100);
            let disp_perc = Math.round((cell.getValue()[0] + Number.EPSILON) * 1000) / 10;
            let disp_perc_av = Math.round((cell.getValue()[1] + Number.EPSILON) * 1000) / 10;
            let wins = abbreviateNumber(cell.getValue()[2]);
            let total = abbreviateNumber(cell.getValue()[3]);
            let mine = cell.getField() == 'wr_games' ? 'You:' : '';
            let average = cell.getField() == 'wr_games' ? 'All Players:' : '';
            let hide_class = total < 5 ? "progress-hide" : "";
            return `
                {% if has_user %}
                <div class="progress ${hide_class} position-relative">
                    <div class="progress-bar" role="progressbar" style="width: ${perc}%"></div>
                    <span class="justify-content-center d-flex position-absolute w-100">
                        ${mine}
                        ${disp_perc}%
                        <small>(${wins} / ${total})</small>
                    </span>
                </div>
                {% endif %}
                <div class="progress progress-average position-relative {% if not has_user %}progress-solo{% endif %}">
                    <div class="progress-bar" role="progressbar" style="width: ${perc_av}%"></div>
                    <span class="justify-content-center d-flex position-absolute w-100">
                        {% if has_user %}
                        ${average}
                        {% endif %}
                        ${disp_perc_av}%
                        {% if not has_user %}
                        <small>(${wins} / ${total})</small>
                        {% endif %}
                    </span>
                </div>
                `;
        };

        var map_progress_formatter = (cell, formatterParams, onRendered) => {
            let perc = Math.round(cell.getValue()[0] * 100);
            let perc_av = Math.round(cell.getValue()[1] * 100);
            let disp_perc = Math.round((cell.getValue()[0] + Number.EPSILON) * 1000) / 10;
            let disp_perc_av = Math.round((cell.getValue()[1] + Number.EPSILON) * 1000) / 10;
            let wins = abbreviateNumber(cell.getValue()[2]);
            let total = abbreviateNumber(cell.getValue()[3]);
            let mine = cell.getField() == 'wr_games' ? 'You:' : '';
            let average = cell.getField() == 'wr_games' ? 'All Players:' : '';
            return `
                {% if has_user %}
                <div class="progress position-relative">
                    <div class="progress-bar" role="progressbar" style="width: ${perc}%"></div>
                    <span class="justify-content-center d-flex position-absolute w-100">
                        ${mine}
                        ${disp_perc}%
                        <small>(${wins} / ${total})</small>
                    </span>
                </div>
                {% endif %}
                <div class="progress progress-average position-relative {% if not has_user %}progress-solo{% endif %}">
                    <div class="progress-bar" role="progressbar" style="width: ${perc_av}%"></div>
                    <span class="justify-content-center d-flex position-absolute w-100">
                        {% if has_user %}
                        ${average}
                        {% endif %}
                        ${disp_perc_av}%
                        {% if not has_user %}
                        <small>(${wins} / ${total})</small>
                        {% endif %}
                    </span>
                </div>
                `;
        };

        var agent_sorter = (a, b, aRow, bRow, column, dir, sorterParams) => {
            if (aRow.getCell(column).getValue() == "All Agents") {
                return Infinity * (dir == 'desc' ? 1 : -1);
            }
            else if (bRow.getCell(column).getValue() == "All Agents") {
                return -Infinity * (dir == 'desc' ? 1 : -1);
            }
            else if (aRow.getCells()[1].getValue()[3] < 5 && bRow.getCells()[1].getValue()[3] >= 5) {
                return (aRow.getCell(column).getValue()[0].localeCompare(bRow.getCell(column).getValue()[0])) - 1 * (dir == 'desc' ? 1 : -1);
            }
            else if (bRow.getCells()[1].getValue()[3] < 5 && aRow.getCells()[1].getValue()[3] >= 5) {
                return (aRow.getCell(column).getValue()[0].localeCompare(bRow.getCell(column).getValue()[0])) + 1 * (dir == 'desc' ? 1 : -1);
            }
            else {
                return aRow.getCell(column).getValue()[0].localeCompare(bRow.getCell(column).getValue()[0]);
            }
        };

        var map_sorter = (a, b, aRow, bRow, column, dir, sorterParams) => {
            return aRow.getCell(column).getValue()[0].localeCompare(bRow.getCell(column).getValue()[0]);
        };

        var progress_sorter = (a, b, aRow, bRow, column, dir, sorterParams) => {
            if (aRow.getCells()[0].getValue() == "All Agents") {
                return Infinity * (dir == 'desc' ? 1 : -1);
            }
            else if (bRow.getCells()[0].getValue() == "All Agents") {
                return -Infinity * (dir == 'desc' ? 1 : -1);
            }
            else if (aRow.getCells()[1].getValue()[3] < 5 && bRow.getCells()[1].getValue()[3] >= 5) {
                return (aRow.getCell(column).getValue()[0] - bRow.getCell(column).getValue()[0]) - 1 * (dir == 'desc' ? 1 : -1);
            }
            else if (bRow.getCells()[1].getValue()[3] < 5 && aRow.getCells()[1].getValue()[3] >= 5) {
                return (aRow.getCell(column).getValue()[0] - bRow.getCell(column).getValue()[0]) + 1 * (dir == 'desc' ? 1 : -1);
            }
            else {
                return aRow.getCell(column).getValue()[0] - bRow.getCell(column).getValue()[0]
            }
        };

        var map_progress_sorter = (a, b, aRow, bRow, column, dir, sorterParams) => {
            return aRow.getCell(column).getValue()[0] - bRow.getCell(column).getValue()[0]
        };

        var propagate_hide = () => {
            $(".progress-hide").parent().parent().addClass("progress-row-hide");
            $(".progress-row-hide:has(.all-agents)").removeClass("progress-row-hide");
        }

        var table = new Tabulator("#stats-table", {
            layout:"fitColumns",
            responsiveLayout:"collapse",
            resizableColumns:false,
            data:tabledata.None,
            columns:[
                {title:"Agent", field:"agent", width: 100, formatter: agent_formatter, sorter: agent_sorter},
                {title:"Game Winrate", field:"wr_games", formatter: progress_formatter, sorter: progress_sorter},
                {title:"Round Winrate", field:"wr_rounds", formatter: progress_formatter, sorter: progress_sorter},
                {title:"Attack Winrate", field:"wr_att_rounds", formatter: progress_formatter, sorter: progress_sorter},
                {title:"Defence Winrate", field:"wr_def_rounds", formatter: progress_formatter, sorter: progress_sorter},
            ],
        })

        var table_maps = new Tabulator("#stats-table-maps", {
            layout:"fitColumns",
            responsiveLayout:"collapse",
            resizableColumns:false,
            data:mapdata,
            columns:[
                {title:"Map", field:"map", width: 100, formatter: map_formatter, sorter: map_sorter},
                {title:"Game Winrate", field:"wr_games", formatter: map_progress_formatter, sorter: map_progress_sorter},
                {title:"Round Winrate", field:"wr_rounds", formatter: map_progress_formatter, sorter: map_progress_sorter},
                {title:"Attack Winrate", field:"wr_att_rounds", formatter: map_progress_formatter, sorter: map_progress_sorter},
                {title:"Defence Winrate", field:"wr_def_rounds", formatter: map_progress_formatter, sorter: map_progress_sorter},
            ],
        })

        $(".map-options").change(() => {
            table.setSort([]);
            let m = $(".map-option:selected").attr("value");
            if (m === "None") {
                $("#stats-table-maps").css("visibility", "visible");
                $("#stats-table-maps").height("auto");
            } else {
                $("#stats-table-maps").css("visibility", "hidden");
                $("#stats-table-maps").height(0);
            }
            let new_data = tabledata[m];
            table.replaceData(new_data).then(() => propagate_hide());
            table.setSort([
                {column:"wr_games", dir:"desc"},
            ])
        });

        propagate_hide();
        table.setSort([
            {column:"wr_games", dir:"desc"},
        ])
        table_maps.setSort([
            {column:"wr_games", dir:"desc"},
        ])
    });
</script>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
