<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
</head>
<body>
<div class="c18"><h1 class="c14" id="h.nxsne4t3ani0"><span class="c6 c12">Privacy Policy</span></h1>
    <p class="c3"><span class="c1">OverTrack (&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;) operates the https://overtrack.gg website and the OverTrack desktop client (the &quot;Service&quot;).</span>
    </p>
    <p class="c3"><span class="c1">This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</span>
    </p>
    <p class="c3"><span class="c1">We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.</span>
    </p>
    <h2 class="c8" id="h.6f0jlbddnphm"><span class="c13 c6">Information Collection And Use</span></h2>
    <p class="c3"><span class="c1">We collect several different types of information for various purposes to provide and improve our Service to you.</span>
    </p>
    <h3 class="c0" id="h.4ws2z5mc9arb"><span class="c5">Types of Data Collected</span></h3><h4 class="c10" id="h.88f9hhh58mno"><span
            class="c9 c6">Personal Data</span></h4>
    <p class="c3"><span class="c1">While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you (&quot;Personal Data&quot;). Personally identifiable information may include, but is not limited to:</span>
    </p>
    <ul class="c7 lst-kix_tvwrf4wqdub2-0 start">
        <li class="c2"><span class="c1">Email address</span></li>
        <li class="c2"><span class="c1">Cookies and Usage Data</span></li>
        <li class="c2"><span
                class="c1">Gaming profile information (as provided through Battle.net, twitch.tv, Riot OAuth and login APIs)</span></li>
        <li class="c2"><span class="c1">Computer name and user name</span></li>
        <li class="c2"><span class="c1">In-game name or profile name (as provided through screen capture)</span></li>
    </ul>
    <h4 class="c10" id="h.fmw322xh3wk6"><span class="c6 c9">Usage Data</span></h4>
    <p class="c3"><span class="c1">We may also collect information that your browser sends whenever you visit our Service or when you access the Service by or through a mobile device (&quot;Usage Data&quot;).</span>
    </p>
    <p class="c3"><span class="c1">This Usage Data may include information such as your computer&#39;s Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</span>
    </p>
    <p class="c3"><span class="c1">When you access the Service by or through a mobile device, this Usage Data may include information such as the type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic data.</span>
    </p><h4 class="c10" id="h.3zml7ly55kci"><span class="c9 c6">Tracking &amp; Cookies Data</span></h4>
    <p class="c3"><span class="c1">We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</span>
    </p>
    <p class="c3"><span class="c1">Cookies are files with a small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</span>
    </p>
    <p class="c3"><span class="c1">You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</span>
    </p>
    <p class="c3"><span class="c1">Examples of Cookies we use:</span></p>
    <ul class="c7 lst-kix_uhy26zzihw82-0 start">
        <li class="c2"><span class="c6">Session Cookies.</span><span class="c1">&nbsp;We use Session Cookies to operate our Service.</span>
        </li>
        <li class="c2"><span class="c6">Preference Cookies.</span><span class="c1">&nbsp;We use Preference Cookies to remember your preferences and various settings.</span>
        </li>
        <li class="c2"><span class="c6">Security Cookies.</span><span class="c1">&nbsp;We use Security Cookies for security purposes.</span>
        </li>
    </ul>
    <h2 class="c8" id="h.nhcns6n57mcw"><span class="c13 c6">Use of Data</span></h2>
    <p class="c3"><span class="c4">OverTrack </span><span class="c1">uses the collected data for various purposes:</span></p>
    <ul class="c7 lst-kix_ard1qt94etlp-0 start">
        <li class="c2"><span class="c1">To provide and maintain the Service</span></li>
        <li class="c2"><span class="c1">To notify you about changes to our Service</span></li>
        <li class="c2"><span class="c1">To allow you to participate in interactive features of our Service when you choose to do so</span>
        </li>
        <li class="c2"><span class="c1">To provide customer care and support</span></li>
        <li class="c2"><span class="c1">To provide analysis or valuable information so that we can improve the Service</span></li>
        <li class="c2"><span class="c1">To monitor the usage of the Service</span></li>
        <li class="c2"><span class="c1">To detect, prevent and address technical issues</span></li>
    </ul>
    <h2 class="c8" id="h.i0dxwbj36lq1"><span class="c13 c6">Transfer Of Data</span></h2>
    <p class="c3"><span class="c1">Your information, including Personal Data, may be transferred to &mdash; and maintained on &mdash; computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</span>
    </p>
    <p class="c3"><span class="c1">If you are located outside of the United States and choose to provide information to us, please note that we transfer the data, including Personal Data, to the United States and process it there.</span>
    </p>
    <p class="c3"><span class="c1">Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</span>
    </p>
    <p class="c3"><span class="c1">OverTrack will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</span>
    </p>
    <h2 class="c8" id="h.w22g7nfvths2"><span class="c13 c6">Disclosure Of Data</span></h2>
    <h3 class="c0" id="h.staomesbbvvz"><span class="c5">Legal Requirements</span></h3>
    <p class="c3"><span class="c4">OverTrack </span><span class="c1">may disclose your Personal Data in the good faith belief that such action is necessary to:</span>
    </p>
    <ul class="c7 lst-kix_tk7yqtx4gel1-0 start">
        <li class="c2"><span class="c1">To comply with a legal obligation</span></li>
        <li class="c2"><span class="c1">To protect and defend the rights or property of OverTrack</span></li>
        <li class="c2"><span class="c1">To prevent or investigate possible wrongdoing in connection with the Service</span></li>
        <li class="c2"><span class="c1">To protect the personal safety of users of the Service or the public</span></li>
        <li class="c2"><span class="c1">To protect against legal liability</span></li>
    </ul>
    <h2 class="c8" id="h.sd5kp6ntmb4f"><span class="c13 c6">Security Of Data</span></h2>
    <p class="c3"><span class="c1">The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</span>
    </p>
    <h2 class="c8" id="h.fndn57s9vcdt"><span class="c13 c6">Service Providers</span></h2>
    <p class="c3"><span class="c1">We may employ third party companies and individuals to facilitate our Service (&quot;Service Providers&quot;), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</span>
    </p>
    <p class="c3"><span class="c1">These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</span>
    </p>
    <h3 class="c0" id="h.ow1x10fttsa1"><span class="c5">Analytics</span></h3>
    <p class="c3"><span class="c1">We may use third-party Service Providers to monitor and analyze the use of our Service.</span></p>
    <ul class="c7 lst-kix_86kpktc9rl18-0 start">
        <li class="c2"><span class="c6">Google Analytics<br></span><span class="c4">Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.<br>For more information on the privacy practices of Google, please visit the Google Privacy &amp; Terms web page: </span><span
                class="c4 c16"><a class="c15"
                                  href="https://policies.google.com/privacy">https://policies.google.com/privacy?hl=en</a></span>
        </li>
    </ul>
    <h2 class="c8" id="h.wjex34elr3x5"><span class="c13 c6">Links To Other Sites</span></h2>
    <p class="c3"><span class="c1">Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party&#39;s site. We strongly advise you to review the Privacy Policy of every site you visit.</span>
    </p>
    <p class="c3"><span class="c1">We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</span>
    </p>
    <h2 class="c8" id="h.6iu5zkl54r7b"><span class="c6 c13">Children&#39;s Privacy</span></h2>
    <p class="c3"><span class="c1">Our Service does not address anyone under the age of 13 (&quot;Children&quot;).</span></p>
    <p class="c3"><span class="c1">We do not knowingly collect personally identifiable information from anyone under the age of 13. If you are a parent or guardian and you are aware that your Children have provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</span>
    </p>
    <h2 class="c8" id="h.ump5hz9ikqqy"><span class="c13 c6">Changes To This Privacy Policy</span></h2>
    <p class="c3"><span class="c1">We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</span>
    </p>
    <p class="c3"><span class="c1">You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</span>
    </p>
    <h2 class="c8" id="h.sb84dkty40fp"><span class="c13 c6">Contact Us</span></h2>
    <p class="c3"><span
            class="c1">If you have any questions about this Privacy Policy, please contact us by email at support@overtrack.gg</span></p>
    <p class="c17"><span class="c1"></span></p></div>
</body>
</html>
