.bg-header {
    background-color: #992e26;
    padding-top: 0 !important;
    padding-bottom: 5px !important;
}
.navbar {
    background-color: #992e2691;
}
.navbar .divider-vertical {
    height: 7px;
    margin: 0 9px;
    border-top: 1px solid #697075;
}
.bg-header a{
  color: rgb(248, 249, 250)
}
.card-body {
    padding-top: 0;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem;
}
.card-header {
  padding-bottom: 0;
  background-color: #992e2690;
}
.card {
  border: 1px solid rgba(255,255,255,.125);
  padding: 0;
  margin-bottom: 0.5rem;
}
.bg-dark .card {
  background-color: #282C2F !important;
}
.row {
  padding-bottom: 0;
}
.card-main {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.games-list {
    font-size: 18px;
    line-height: 1.1;
    border-radius: .25rem;
    padding: .5rem !important;
    margin-bottom: 0.5rem;
}
.games-list-row {
  padding-left: 1rem;
  padding-right: 1rem; 
}
.games-list tr {
    padding: .5rem !important;
}
.games-list td {
    padding: .5rem !important;
}
.character-icon {
    height: 40px;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: -30px;
    margin-right: 1px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-origin: content-box;
}
.character-icon.highlight {
  filter: drop-shadow(1px 0 1px #00d9ffad)
          drop-shadow(-1px 0 1px #00d9ffad)              
          drop-shadow(0 1px 1px #00d9ffad)              
          drop-shadow(0 -1px 1px #00d9ffad);
  margin-right: 3px;
}
td.noheight {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 0;
}
.games-list td.squad {
  width: 140px;
  padding-left: 5px !important;
}
.games-list td.kills, .games-list td.squad-kills, .games-list td.knockdowns {
  text-align: right;
  padding-right: 20px !important;
  padding-top: 6px !important;
  /* padding-bottom: 8px !important; */
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
}
.games-list td.placed {
    color: #EE3D20;
    font-size: 28px;
    line-height: 1;
    font-weight: bold;
    padding-top: 3px !important;
    /* padding-bottom: 8px !important; */
    text-align: right;
}
.games-list tr.clickable {
  cursor: pointer;
}
.games-list tr.placed-1 {
  background-color: #ffdf0040 !important;
}
.games-list tr:nth-of-type(odd).placed-1 {
  background-color: #ffdf0050 !important;
}
.games-list tr.placed-1 > td.placed {
  color: #ffdf00;
}
.games-list tr.placed-2 {
  background-color: #ef20ff40 !important;
}
.games-list tr:nth-of-type(odd).placed-2 {
  background-color: #ef20ff50 !important;
}
.games-list tr.placed-3 {
  background-color: #4d95ff40 !important;
}
.games-list tr:nth-of-type(odd).placed-3 {
  background-color: #4d95ff50 !important;
}

.weapons-list td.knockdowns {
  text-align: right;
  padding-right: 25px !important;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
}

.combat-stats td.value {
  text-align: right;
  padding-right: 20px !important;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
}

.weapons-col {
  padding-right: 0.25rem;
}
.map-col {
  padding-left: 0.25rem;
}

.player-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -76px left 0px;
  background-clip: content-box;
  z-index: 0;
}
.player-card::before {
  opacity: 0.75;
  background-color: #000;
  border-radius: .25rem;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.player-card * {
  z-index: 2;
}
.player-stats td.value {
  font-weight: bold;
}



.text-blue {
    color: #4d95ff;
}
.text-purple {
    color: #ef20ff;
}
.text-gold {
    color: #ffdf00;
}


.table-responsive {
    display: table;
}


.btn-twitch {
    background-image: linear-gradient(#6441A5, #6441A5, 60%, #392E5C);
    border-color: #392E5C;
    background-color: #392E5C;
}
.btn-bnet {
    background-image: linear-gradient(#004d80, #004d80, 60%, #002650);
    border-color: #002650;
    background-color: #002650;
}

.discord-notifications li {
  height: 65px;
}

.discord-notifications span {
  font-size: 20pt;
}

.discord-notifications .channel {
   color: gray;
   padding-left: 20pt;
   font-weight: bold;
}

.discord-notifications .channel-hash::before {
     content: "#";
     font-size: 25pt;
     color: gray;
     top: 9px;
     position: absolute;
     font-weight: bold;
     margin-left: 3pt;
}
