{% import 'navbar.html' as navbar with context %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Apex Tracker{% endblock %}</title>
    {% block meta %}{% endblock %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="text-light bg-dark">
{{ navbar.navbar() }}
{% block content %}{% endblock %}
{{ bootstrap.load_js() }}
<script type="text/javascript">
    $(document).ready(function($) {
        $("tr.clickable").click(function() {
            window.document.location = $(this).data("href");
        });
        $("tr.clickable").mouseup(function() {
            if (event.button === 1){
                window.open($(this).data("href"));
            }
        });
    });
</script>
{% block scripts %}{% endblock %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-99105415-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-99105415-2');
</script>
</body>
</html>
