{% extends "base.html" %}
{% block title %}Download Client{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card card-main col-md-10">
            <div class="card-body">
                <h2 class="card-title">Download Client</h2>
                <p>
                    Tracking Apex games requires the new OverTrack Client.
                </p>
                <a href="https://s3-us-west-2.amazonaws.com/overtrack-client-2/setup/OverTrack+setup.exe" class="btn btn-lg btn-success">Download</a>
                <p>
                    <br/>
                    This application captures your game's screen, and uses Computer Vision to record game data.<br/>
                    At no point does the client inject into, modify, or directly interact with games.
                </p>

                <div class="card bg-dark" style="margin-top: 50px;">
                    <div class="card-header" style="background-color: #4d95ff;">
                        <h5>Tips</h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>
                                Make sure you are tabbed-in to the game for the "Your Squad" screen
                            </li>
                            <li>
                                For all stats to track, stay at least a second on each of the postgame screens. <br/>
                                Specifically the "Squad Eliminated" / "Champions of the Arena" and "Match Summary" screens.
                            </li>
                            <li>
                                Because the client is new, the OverTrack installer may be blocked by Smart Screen. <br/>
                                If you see "Windows protected your PC" click "More info" then "Run anyway"
                            </li>
                            <li>
                                On first launch, the client may take a while to download additional requirements (Computer Vision is complex). <br/>
                                Once it has done its first install, future updates will be able to reuse most of the requirements and will be much faster.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
