{% import 'game_summary.html' as game_summary with context %}

{% extends "base.html" %}
{% block title %}Games{% endblock %}
{% block content %}
    <div class="container pt-3">
        <div class="container table-responsive">
            <table class="table table-borderless table-striped table-hover table-dark shadow games-list">
                <thead class="">
                    {{ game_summary.header() }}
                </thead>
                <tbody>
                {% for game in games %}
                    {{ game_summary.summary(game) }}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
