{% import 'game_summary.html' as game_summary with context %}

{% extends "base.html" %}
{% block title %}Games{% endblock %}
{% block content %}
<div class="container pt-3">
    <div class="container">
        <div class="card bg-dark">
            <div class="card-header">
                <h5>Not Logged In</h5>
            </div>
            <div class="card-body" style="margin: 10px;">
                <p>We use Twitch for logins. Only your twitch username and associated email address will be provided to ApexTrack.</p>
                <a href="{{ login_url }}" type="button" class="btn btn-primary btn-lg btn-dark btn-twitch">
                    <span><img src="{{ url_for('static', filename='images/Glitch_White_RGB.png') }}"></span>&nbsp;
                    Log in with Twitch
                </a>
            </div>
            <br/>
        </div>
    </div>
</div>
{% endblock %}
