{% extends "base.html" %}
{% block title %}Apex Legends Automatic Match History{% endblock %}
{% block meta %}
<meta content="Apex Legends Automatic Match History" property="og:title">
<meta name="theme-color" content="#992e26">
<meta content="Automatically track your Apex Legends games with computer vision!
Tracks your placement, kills, downs, route, weapons, and stats." property="og:description">
<meta content='https://d2igtsro72if25.cloudfront.net/1/apex_teaser.png' property='og:image'>
<meta name="twitter:card" content="summary_large_image">
<link type="application/json+oembed" href="https://d2igtsro72if25.cloudfront.net/1/welcome_oembed.json"/>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card card-main col-md-10">
            <div class="card-body">
                <h2 class="card-title">Apex Legends Automatic Match History</h2>
                <p>
                    Hey there!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
